.alphaButton {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px rgba(180, 180, 180, 0.4);
     @include button-responsive(mobile);

     &.wide{
        @include button-responsive(mobile);
        width: 80%;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        margin: 1rem;
     }

}

@media screen and (min-width: 1024px) {
    .alphaButton {
        display: flex;
        align-items: center;
        justify-content: center;

        @include button-responsive(laptop);
        &.wide{
            @include button-responsive(laptop);
            width: 80%;
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin: 1rem;
         }
    }
}
