@import "../../colors.scss";
.mainContainer {
    position: relative;
    display: inline-block;
   
    // Add any other styles for the main container
  
    .suggestionButton {
      cursor: pointer;
      color: $light-secondary;
      font-size: 1.5rem;
      padding-right: 2rem;
      background-color: $light-bg;
      // Add styles for the suggestion button

    }
  
    .slideInScreen {
      position: fixed;
      z-index: 999;
      top: 0;
      right: -80%; // Initial position, outside the screen
      width: 80%; // One-third of the screen width
      height: 100vh;
      background-color: $light-box-bg;
      transition: right 0.3s ease; // Smooth sliding transition
  
      &.expanded {
        right: 0; // Slide in to the screen when expanded
      }
      .closeButton {
        position: absolute;
        display: block;
        top: 0.5rem;
        left: 0.5rem;
        width: 2rem;
        height: 2rem;
        background-color: $light-bg;
        color: $light-primary;
        // Add styles for the close button
      }
  
      .screenContent {
        padding: 2.5rem 0rem; // Add padding or other styles for the content inside the sliding screen
        h2 {
          font-size: 1.8rem;
          padding-left: 2.5rem;
          margin-bottom: 10px;
          color: $light-primary;
        }
  
        ul {
          list-style: none;
          padding: 0;
  
          .templateContainer {
            padding: 1rem 3.5rem;
            border-bottom: 1px solid $light-tertiary;
            &:hover {
              cursor: pointer;
              background-color: $light-bg;
            }
  
            strong {
              display: block;
              font-size: 1.5rem;
              margin-bottom: 5px;
            }
            ul {
              list-style: none;
              padding: 0;
              display: flex;
        
              li {
                margin-bottom: 10px;
                .tokenContainer {
                  position: relative;
                  display: inline-block;
        
                  img {
                    width: 1.8rem; /* Adjust the width as needed */
                    height: 1.8rem; /* Adjust the height as needed */
                    border-radius: 50%;
                    margin-right:0.5rem; /* Adjust the margin as needed */
                    cursor: pointer;
                    transition: transform 0.3s ease;
        
                    &:hover {
                      transform: scale(1.1);
                    }
                  }
        
                  .tokenName {
                    position: absolute;
                    top: -100%;
                    left: 50%;
                    background-color: rgb(81, 77, 77) ;
                    color: white;
                    padding: 0.8rem;
                    border-radius: 5px;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                    transition: opacity 0.3s ease;
                  }
        
                  &:hover .tokenName {
                    opacity: 999;
                  }
                }
              }
            }
  
            p {
              font-size: 1rem;
              color: #666;
            }
          }
        }
      }
    }
    &.dark {
     
      .suggestionButton {
        color: $dark-secondary;
        background-color: $dark-bg;
      }
      .slideInScreen {
        background-color: $dark-box-bg;
       
        .closeButton {
          background-color: $dark-box-bg;
          color: $dark-primary;

          // Add styles for the close button
        }
        .screenContent {
          // Add padding or other styles for the content inside the sliding screen
          h2 {
          
            color: $dark-primary;
          }
  
          ul {
            list-style: none;
            padding: 0;
  
            .templateContainer {
              border-bottom: 1px solid $dark-tertiary;
              &:hover {
                cursor: pointer;
                background-color: $dark-bg;
              }
  
              strong {
                display: block;
                font-size: 1.5rem;
                color: $dark-primary;
                margin-bottom: 5px;
              }
              ul {
                list-style: none;
                padding: 0;
                display: flex;
          
                li {
                  margin-bottom: 10px;
                  .tokenContainer {
                    position: relative;
                    display: inline-block;
          
                    img {
                      width: 1.8rem; /* Adjust the width as needed */
                      height: 1.8rem; /* Adjust the height as needed */
                      border-radius: 50%;
                      margin-right:0.5rem; /* Adjust the margin as needed */
                      cursor: pointer;
                      transition: transform 0.3s ease;
          
                      &:hover {
                        transform: scale(1.1);
                      }
                    }
          
                    .tokenName {
                      position: absolute;
                      top: -100%;
                      left: 50%;
                      // background-color: rgb(81, 77, 77) ;
                      color: $dark-primary;
                      padding: 0.8rem;
                      border-radius: 5px;
                      transform: translate(-50%, -50%);
                      opacity: 0;
                      transition: opacity 0.3s ease;
                    }
          
                    &:hover .tokenName {
                      opacity: 999;
                    }
                  }
                }
              }
  
              p {
                font-size: 1rem;
                color: $dark-tertiary;
              }
            }
          }
        }
      }
    }

  }

@media screen and (min-width: 1024px){
    .mainContainer {
      .slideInScreen {
        position: fixed;
        z-index: 999;
        top: 0;
        right: -33%; // Initial position, outside the screen
        width: 33%; // One-third of the screen width
        height: 100vh;
        background-color: $light-box-bg;
        transition: right 0.3s ease; // Smooth sliding transition
    
        &.expanded {
          right: 0; // Slide in to the screen when expanded
        }
        .closeButton {
          position: absolute;
          display: block;
          top: 0.5rem;
          left: 0.5rem;
          width: 2rem;
          height: 2rem;
          background-color: $light-bg;
          color: $light-primary;
          // Add styles for the close button
        }
    
        .screenContent {
          padding: 2.5rem 0rem; // Add padding or other styles for the content inside the sliding screen
          h2 {
            font-size: 1.8rem;
            padding-left: 2.5rem;
            margin-bottom: 10px;
            color: $light-primary;
          }
    
          ul {
            list-style: none;
            padding: 0;
    
            .templateContainer {
              padding: 1rem 3.5rem;
              border-bottom: 1px solid $light-tertiary;
              &:hover {
                cursor: pointer;
                background-color: $light-bg;
              }
    
              strong {
                display: block;
                font-size: 1.5rem;
                margin-bottom: 5px;
              }
              ul {
                list-style: none;
                padding: 0;
                display: flex;
          
                li {
                  margin-bottom: 10px;
                  .tokenContainer {
                    position: relative;
                    display: inline-block;
          
                    img {
                      width: 1.8rem; /* Adjust the width as needed */
                      height: 1.8rem; /* Adjust the height as needed */
                      border-radius: 50%;
                      margin-right:0.5rem; /* Adjust the margin as needed */
                      cursor: pointer;
                      transition: transform 0.3s ease;
          
                      &:hover {
                        transform: scale(1.1);
                      }
                    }
          
                    .tokenName {
                      position: absolute;
                      top: -100%;
                      left: 50%;
                      background-color: rgb(81, 77, 77) ;
                      color: white;
                      padding: 0.8rem;
                      border-radius: 5px;
                      transform: translate(-50%, -50%);
                      opacity: 0;
                      transition: opacity 0.3s ease;
                    }
          
                    &:hover .tokenName {
                      opacity: 999;
                    }
                  }
                }
              }
    
              p {
                font-size: 1rem;
                color: #666;
              }
            }
          }
        }
      }
    }
}
  