.DcaCreation {
  .dcaBox {
    background-color: $light-box-bg;
    margin-top: 1rem;
    border: 1px solid $light-border;
    border-radius: $border-radius;
    padding: 1.5rem 1rem;

    .flex {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      .creationContainer {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .title {
          font-weight: 700;
          color: $light-primary;
          font-size: 1.4rem;
          margin-bottom: 1rem;
        }

        .tokenSelectionTitle {
          display: grid;
          grid-template-columns: 1fr 0.1fr 1fr;
          align-items: center;
          gap: 1rem;
        }
        .tokenSelection {
          display: grid;
          grid-template-columns: 1fr 0.08fr 1fr;
          gap: 0.5rem;
          align-items: center;
          .tokenContainer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $light-bg;
            padding: 1rem 0.8rem;
            border-radius: 10px;
            cursor: pointer;
            .emptyLogo {
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background-color: #e0e0e0;
            }
            .emtpyText {
              color: $light-placeholder;
            }
            img {
              width: 20px;
              height: 20px;
            }
            h1 {
              font-size: 1.3rem;
            }
            svg {
              width: 20px;
              height: 20px;
              fill: $light-secondary;
            }
          }
          .sellContainer {
          }
          .right-arrow {
            fill: $light-primary;
            width: 100%;
          }

          .buyContainer {
          }
        }
        .repetitionAndAmountContainer {
          .inputGroup {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-top: 2rem;
            h4 {
              font-weight: 700;
              color: $light-primary;
              font-size: 1.2rem;
              width: 40%;
            }
            input {
              background: $light-bg;
              padding: 1rem 0;
              width: 50%;
              border-radius: 10px;
              text-align: center;
              font-weight: 600;
              font-size: 1.2rem;
              outline: none;
            }
          }
          .repetition {
            .inputAndPriceContainer {
              width: 50%;
              input {
                width: 100%;
              }
              .price {
                margin-top: 0.5rem;
                color: $light-secondary;
                font-size: 1.2rem;
              }
            }
          }
          .amount {
          }
        }

        .seprator {
          background-color: $light-tertiary;
          margin: 1rem auto;
          width: 95%;
          height: 1px;
        }

        .smallTitle {
          font-weight: 700;
          color: $light-primary;
          font-size: 1.2rem;
          margin: 0rem 0 1rem 0;
        }

        .cycle_container {
          width: 100%;
          display: grid;
          grid-template-columns: 31% 31% 31%;
          justify-content: space-between;
          justify-items: center;
          margin-bottom: 2rem;
          .cycle {
            padding: 0.8rem 0;
            // margin-bottom: 1rem;
            border: 1px solid $light-secondary;
            width: 100%;
            text-align: center;
            border-radius: 10px;
            font-weight: 600;
            font-size: 1.2rem;
            cursor: pointer;
            color: $light-primary;
          }

          .cycle.active {
            border: 1px solid $light-secondary;
            background-color: $light-secondary;
            color: $light-box-bg;
          }
        }

        .monthDate {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;

          h4 {
            font-weight: 700;
            color: $light-primary;
            font-size: 1.2rem;
            width: 40%;
          }

          .localTimeInputs {
            border-radius: 10px;
            background-color: $light-bg;
            display: flex;

            align-items: center;
            width: 50%;

            input {
              background: none;
              padding: 1rem 0;
              width: 100%;
              text-align: center;
              font-weight: 600;
              font-size: 1.2rem;
              outline: none;
            }
          }
        }

        .weekdays {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
          grid-gap: 1rem;
          justify-items: center;

          .weekday {
            padding: 1rem 0;
            border: 1px solid $light-secondary;
            width: 100%;
            text-align: center;
            border-radius: 10px;
            font-weight: 600;
            font-size: 1.2rem;
            cursor: pointer;
          }

          .weekday.active {
            border: 1px solid $light-secondary;
            background-color: $light-secondary;
            color: $light-box-bg;
          }
        }

        .localTime {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          margin-top: 2rem;

          .localTimeTitle {
            font-weight: 700;
            color: $light-primary;
            font-size: 1.2rem;
            width: 30%;
            text-decoration: underline dotted 2px $light-secondary;
            position: relative;
          }
          .localTimeTitle:hover::after {
            right: 0;
            top: -10px;
            position: absolute;
            content: '24 Hour Time Foramt';
            background-color: $light-bg;
            font-size: 1.2rem;
            padding: 0.5rem;
            font-weight: 500;
            border-radius: 10px;
          }

          .localTimeInputs {
            border-radius: 10px;
            background-color: $light-bg;
            display: flex;
            align-items: center;
            width: 50%;

            .localTime_seprator {
              width: 20%;
              text-align: center;
              font-weight: 600;
              font-size: 1.2rem;
            }

            input {
              background: none;
              padding: 1rem 0;
              width: 40%;
              text-align: center;
              font-weight: 600;
              font-size: 1.2rem;
              outline: none;
            }
          }
        }

        .createPosition {
          margin-top: 2rem;
          @include button-responsive(mobile);
          display: flex;
          border-radius: 10px;
          padding: 1rem;
          gap: 1rem;
          align-items: center;
          justify-content: center;
          font-weight: 600;
          font-size: 1.2rem;
          width: 100%;
          align-self: flex-end;
          &.desktop {
            display: none;
          }
        }
      }
      .reviewDCA {
        width: 100%;
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr;

        .title {
          font-weight: 700;
          color: $light-primary;
          font-size: 1.4rem;
          margin-bottom: 1rem;
        }
        .details {
          .detailsContainer {
            .detail {
              padding: 1rem 0;
              display: flex;
              align-items: center;
              justify-content: space-between;
              border-bottom: 1px solid $light-border;
              .titleContainer {
                display: flex;
                gap: 1rem;
                align-items: center;
                .dot {
                  background-color: $light-secondary;
                  border-radius: 50%;
                  width: 7px;
                  height: 7px;
                }
                h1 {
                  font-size: 1.2rem;
                }
              }
              h1 {
                font-size: 1.2rem;
                span.skeleton {
                  color: $light-skeleton;
                }
              }
            }
          }
          .explanation {
            width: 100%;
            margin-top: 1rem;
            font-size: 1.1rem;
            span {
              font-weight: 600;
              span.skeleton {
                color: $light-skeleton;
              }
              color: $light-secondary;
            }
          }
        }
        .timeline {
          .timelineContainer {
            overflow: hidden;
            overflow-y: scroll;
            max-height: 20vh;
            &::-webkit-scrollbar {
              width: 10px;
            }

            &::-webkit-scrollbar-track {
              background-color: #e4e4e4;
              border-radius: 20px;
            }

            &::-webkit-scrollbar-thumb {
              background-image: $default-gradientToBottom;
              // box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
              border-radius: 20px;
            }
            .timelineHolder {
              position: relative;

              .timelineShape {
                position: absolute;
                left: 3px;
                width: 2px;
                height: 100%;
                background-color: $light-secondary;
                border-radius: 10px;
                &.skeleton {
                  background-color: $light-skeleton;
                }
              }
              .swapTime {
                padding: 1rem 0;
                .connectedTitle {
                  display: flex;
                  align-items: center;
                  .connector {
                    width: 9px;
                    height: 9px;
                    border-radius: 50%;
                    background-color: $light-secondary;
                    z-index: 10;
                  }
                  h3 {
                    margin-left: 2rem;
                  }
                }
                h2 {
                  margin-left: 3rem;
                  font-size: 1.1rem;
                }
                &.last {
                  padding-bottom: 0;
                  position: relative;

                  .tailCover {
                    background-color: $light-box-bg;
                    position: absolute;
                    left: 3px;
                    width: 2px;
                    height: calc(100% - 0.9rem);
                    z-index: 9;
                  }
                  .connectedTitle {
                    .connector {
                    }
                    h1 {
                    }
                  }
                }
                &.first {
                  position: relative;

                  .tailCover {
                    background-color: $light-box-bg;
                    position: absolute;
                    left: 3px;
                    top: 0;
                    width: 2px;
                    height: 1.2rem;
                    z-index: 9;
                  }
                  .connectedTitle {
                    .connector {
                    }
                    h1 {
                    }
                  }
                }
                &.skeleton {
                  .connector {
                    background-color: $light-skeleton;
                  }
                  h3 {
                    color: $light-skeleton;
                  }
                  h2 {
                    color: $light-skeleton;
                  }
                }
              }
            }
          }
        }
        &.desktop {
          display: none;
        }
      }
    }
  }

  &.dark {
    .dcaBox {
      background-color: $dark-box-bg;
      border: 1px solid $dark-border;
    }

    .dcaBox {
      background-color: $dark-box-bg;

      .creationContainer {
        .title {
          color: $dark-primary !important;
        }

        .infoAndClearAll {
          p {
            color: $dark-primary !important;

            span {
              color: $dark-percentageUP !important;
            }
          }

          button {
            color: $dark-secondary !important;
          }
        }
        .tokensContainer {
        }

        .buyToken {
          .token {
            background: $dark-bg !important;

            .tokenInfo {
              img {
              }

              h2 {
                color: $dark-primary !important;
              }
            }

            .tokenPercentage {
              input {
                color: $dark-primary !important;
              }

              input:focus {
                border: none;
              }
            }

            .Percentage {
              color: $dark-secondary !important;
            }
          }

          svg {
            fill: $dark-percentageDown !important;
          }
        }
        .noToken {
          p {
            color: $dark-primary;
          }
        }

        .addTokenButton {
          img {
          }
        }

        .seprator {
          background-color: $dark-tertiary !important;
        }

        .smallTitle {
          color: $dark-tertiary !important;
        }

        .sellInput {
          background-color: $dark-bg !important;
          border: 1px solid $dark-secondary !important;

          input {
            color: $dark-primary !important;
          }

          input:focus {
            // border: 1px solid $dark-secondary;
          }

          .inputSeprator {
            background-color: $dark-tertiary !important;
          }

          .sellTokenInfo {
            img {
            }

            h3 {
              color: $dark-primary !important;
            }

            svg {
              fill: $dark-primary !important;
            }
          }
        }

        .cycle_container {
          .cycle {
            border: 1px solid $dark-secondary !important;
            color: $dark-primary !important;
          }

          .cycle.active {
            border: 1px solid $dark-secondary !important;
            background-color: $dark-secondary !important;
            color: $dark-primary !important;
          }
        }
        //    .cycle_container {
        //         .selected_cycle {
        //             background-color: $dark-bg;
        //             p {
        //                 color: $dark-primary;
        //             }
        //         }
        //         .options_container {
        //             background-color: $dark-bg;
        //             .option {
        //                 color: $dark-primary;
        //                 &:hover {
        //                     background-color: $dark-tertiary;
        //                 }
        //             }
        //         }
        //     }

        .monthDate {
          h4 {
            color: $dark-primary !important;
          }

          .localTimeInputs {
            background-color: $dark-bg !important;

            input {
              color: $dark-primary !important;
            }
          }
        }

        .weekdays {
          .weekday {
            border: 1px solid $dark-secondary !important;
            color: $dark-primary !important;
          }

          .weekday.active {
            border: 1px solid $dark-secondary !important;
            background-color: $dark-secondary !important;
            color: $dark-primary !important;
          }
        }

        .localTime {
          h4 {
            color: $dark-primary !important;
          }

          .localTimeInputs {
            background-color: $dark-bg !important;

            .localTime_seprator {
            }

            input {
              color: $dark-primary !important;
            }
          }
        }

        .smallTimeLine {
          color: $dark-primary !important;
        }

        .reviewBTN {
        }
        .reviewDca {
          .logoContainer {
            p {
              color: $dark-primary;
            }
          }
        }
      }
    }
  }
}
// Review transaction modal for Mobile
.reviewDCA {
  width: 90%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;

  .title {
    font-weight: 700;
    color: $light-primary;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  .details {
    .detailsContainer {
      .detail {
        background-color: $light-box-bg;
        padding: 0.5rem 1rem;
        margin: 0.5rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: $border-radius;
        // border-bottom: 1px solid $light-border;
        .titleContainer {
          display: flex;
          gap: 1rem;
          align-items: center;
          .dot {
            background-color: $light-secondary;
            border-radius: 50%;
            width: 7px;
            height: 7px;
          }
          h1 {
            font-size: 1.2rem;
          }
        }
        h1 {
          font-size: 1.2rem;
          span.skeleton {
            color: $light-skeleton;
          }
        }
      }
    }
  }
  .timeline {
    .timelineContainer {
      overflow: hidden;
      overflow-y: scroll;
      max-height: 18vh;
      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        background-color: #e4e4e4;
        border-radius: 20px;
      }

      &::-webkit-scrollbar-thumb {
        background-image: $default-gradientToBottom;
        // box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
        border-radius: 20px;
      }
      .timelineHolder {
        position: relative;

        .timelineShape {
          position: absolute;
          left: 13px;
          width: 2px;
          height: 100%;
          background-color: $light-secondary;
          border-radius: 10px;
          &.skeleton {
            background-color: $light-skeleton;
          }
        }
        .swapTime {
          padding: 0.7rem 1rem;
          //   background: $light-box-bg;
          .connectedTitle {
            display: flex;
            align-items: center;
            .connector {
              width: 8px;
              height: 8px;
              border-radius: 50%;
              background-color: $light-secondary;
              z-index: 10;
            }
            h3 {
              margin-left: 2rem;
              font-size: 1.1rem;
            }
          }
          h2 {
            margin-left: 3rem;
            color: $light-secondary;
            font-size: 1rem;
          }
          &.last {
            padding-bottom: 0;
            position: relative;

            .tailCover {
              background-color: $light-box-bg;
              position: absolute;
              left: 13px;
              width: 2px;
              height: calc(100% - 0.5rem);
              z-index: 9;
            }
            .connectedTitle {
              .connector {
              }
              h1 {
              }
            }
          }
          &.first {
            position: relative;

            .tailCover {
              background-color: $light-box-bg;
              position: absolute;
              left: 13px;
              top: 0;
              width: 2px;
              height: 0.8rem;
              z-index: 9;
            }
            .connectedTitle {
              .connector {
              }
              h1 {
              }
            }
          }
          &.skeleton {
            .connector {
              background-color: $light-skeleton;
            }
            h3 {
              color: $light-skeleton;
            }
            h2 {
              color: $light-skeleton;
            }
          }
        }
      }
    }
  }
  .explanation {
    width: 100%;
    // margin-top: 1rem;
    padding: 0 1rem;
    font-size: 1rem;
    span {
      font-weight: 600;
      span.skeleton {
        color: $light-skeleton;
      }
      color: $light-secondary;
    }
  }
  .createPosition {
    // margin-top: 2rem;
    @include button-responsive(mobile);
    display: flex;
    border-radius: 10px;
    padding: 1rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.2rem;
    width: 100%;
    align-self: flex-end;
  }
}

@media screen and (min-width: 1024px) {
  .DcaCreation {
    .dcaBox {
      width: 100%;
      background-color: $light-box-bg;
      border-radius: $border-radius;
      border: 1px solid $light-border;
      margin-top: 2rem;
      padding: 3rem 5rem;

      .flex {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        .creationContainer {
          width: 40%;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .title {
            font-weight: 700;
            color: $light-primary;
            font-size: 1.8rem;
            margin-bottom: 1rem;
          }

          .tokenSelectionTitle {
            display: grid;
            grid-template-columns: 1fr 0.1fr 1fr;
            align-items: center;
            gap: 1rem;
          }
          .tokenSelection {
            display: grid;
            grid-template-columns: 1fr 0.08fr 1fr;
            gap: 0.5rem;
            align-items: center;
            .tokenContainer {
              display: flex;
              align-items: center;
              justify-content: space-between;
              background-color: $light-bg;
              padding: 1rem 0.8rem;
              border-radius: 10px;
              cursor: pointer;
              .emptyLogo {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background-color: #e0e0e0;
              }
              .emtpyText {
                color: $light-placeholder;
              }
              img {
                width: 25px;
                height: 25px;
              }
              h1 {
                font-size: 1.4rem;
              }
              svg {
                width: 25px;
                height: 25px;
                fill: $light-secondary;
              }
            }
            .sellContainer {
            }
            .right-arrow {
              fill: $light-primary;
              width: 100%;
            }

            .buyContainer {
            }
          }
          .repetitionAndAmountContainer {
            .inputGroup {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              margin-top: 2rem;
              h4 {
                font-weight: 700;
                color: $light-primary;
                font-size: 1.5rem;
                width: 40%;
              }
              input {
                background: $light-bg;
                padding: 1rem 0;
                width: 50%;
                border-radius: 10px;
                text-align: center;
                font-weight: 600;
                font-size: 1.5rem;
                outline: none;
              }
            }
            .repetition {
              .inputAndPriceContainer {
                width: 50%;
                input {
                  width: 100%;
                }
                .price {
                  margin-top: 0.5rem;
                  color: $light-secondary;
                  font-size: 1.2rem;
                }
              }
            }
            .amount {
            }
          }

          .seprator {
            background-color: $light-tertiary;
            margin: 1rem auto;
            width: 95%;
            height: 1px;
          }

          .smallTitle {
            font-weight: 700;
            color: $light-primary;
            font-size: 1.5rem;
            margin: 0rem 0 1rem 0;
          }

          .cycle_container {
            width: 100%;
            display: grid;
            grid-template-columns: 31% 31% 31%;
            justify-content: space-between;
            justify-items: center;
            margin-bottom: 2rem;
            .cycle {
              padding: 1rem 0;
              // margin-bottom: 1rem;
              border: 1px solid $light-secondary;
              width: 100%;
              text-align: center;
              border-radius: 10px;
              font-weight: 600;
              font-size: 1.4rem;
              cursor: pointer;
              color: $light-primary;
            }

            .cycle.active {
              border: 1px solid $light-secondary;
              background-color: $light-secondary;
              color: $light-box-bg;
            }
          }

          .monthDate {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            h4 {
              font-weight: 700;
              color: $light-primary;
              font-size: 1.5rem;
              width: 40%;
            }

            .localTimeInputs {
              border-radius: 10px;
              background-color: $light-bg;
              display: flex;

              align-items: center;
              width: 50%;

              input {
                background: none;
                padding: 1rem 0;
                width: 100%;
                text-align: center;
                font-weight: 600;
                font-size: 1.5rem;
                outline: none;
              }
            }
          }

          .weekdays {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-gap: 1rem;
            justify-items: center;

            .weekday {
              padding: 1rem 0;
              border: 1px solid $light-secondary;
              width: 100%;
              text-align: center;
              border-radius: 10px;
              font-weight: 600;
              font-size: 1.4rem;
              cursor: pointer;
            }

            .weekday.active {
              border: 1px solid $light-secondary;
              background-color: $light-secondary;
              color: $light-box-bg;
            }
          }

          .localTime {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-top: 2rem;

            .localTimeTitle {
              font-weight: 700;
              color: $light-primary;
              font-size: 1.5rem;
              width: 30%;
              text-decoration: underline dotted 2px $light-secondary;
              position: relative;
            }
            .localTimeTitle:hover::after {
              right: 0;
              top: -10px;
              position: absolute;
              content: '24 Hour Time Foramt';
              background-color: $light-bg;
              font-size: 1.2rem;
              padding: 0.5rem;
              font-weight: 500;
              border-radius: 10px;
            }

            .localTimeInputs {
              border-radius: 10px;
              background-color: $light-bg;
              display: flex;
              align-items: center;
              width: 50%;

              .localTime_seprator {
                width: 20%;
                text-align: center;
                font-weight: 600;
                font-size: 1.5rem;
              }

              input {
                background: none;
                padding: 1rem 0;
                width: 40%;
                text-align: center;
                font-weight: 600;
                font-size: 1.5rem;
                outline: none;
              }
            }
          }

          .createPosition {
            margin-top: 2rem;
            @include button-responsive(mobile);
            display: flex;
            border-radius: 10px;
            padding: 1rem;
            gap: 1rem;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            font-size: 1.5rem;
            width: 100%;
            align-self: flex-end;
            &.mobile {
              display: none;
            }
            &.desktop {
              display: block;
            }
          }
        }
        .reviewDCA {
          width: 55%;
          display: grid;
          gap: 4rem;
          grid-template-columns: 1fr 0.8fr;
          .title {
            font-weight: 700;
            color: $light-primary;
            font-size: 1.8rem;
            margin-bottom: 1rem;
          }
          .details {
            .detailsContainer {
              .detail {
                margin: 0;
                padding: 2rem 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid $light-border;
                .titleContainer {
                  display: flex;
                  gap: 1rem;
                  align-items: center;
                  .dot {
                    background-color: $light-secondary;
                    border-radius: 50%;
                    width: 10px;
                    height: 10px;
                  }
                  h1 {
                    font-size: 1.5rem;
                  }
                }
                h1 {
                  font-size: 1.5rem;
                  span.skeleton {
                    color: $light-skeleton;
                  }
                }
              }
            }
            .explanation {
              width: 100%;
              margin-top: 2rem;
              font-size: 1.35rem;
              span {
                font-weight: 600;
                span.skeleton {
                  color: $light-skeleton;
                }
                color: $light-secondary;
              }
            }
          }
          .timeline {
            .timelineContainer {
              overflow: hidden;
              overflow-y: scroll;
              max-height: 51vh;
              &::-webkit-scrollbar {
                width: 10px;
              }

              &::-webkit-scrollbar-track {
                background-color: #e4e4e4;
                border-radius: 20px;
              }

              &::-webkit-scrollbar-thumb {
                background-image: $default-gradientToBottom;
                // box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
                border-radius: 20px;
              }
              .timelineHolder {
                position: relative;

                .timelineShape {
                  position: absolute;
                  left: 5px;
                  width: 2px;
                  height: 100%;
                  background-color: $light-secondary;
                  border-radius: 10px;
                  &.skeleton {
                    background-color: $light-skeleton;
                  }
                }
                .swapTime {
                  padding: 2rem 0;
                  .connectedTitle {
                    display: flex;
                    align-items: center;
                    .connector {
                      width: 12px;
                      height: 12px;
                      border-radius: 50%;
                      background-color: $light-secondary;
                      z-index: 10;
                    }
                    h3 {
                      margin-left: 2rem;
                    }
                  }
                  h2 {
                    margin-left: 3rem;
                    font-size: 1.2rem;
                  }
                  &.last {
                    padding-bottom: 0;
                    position: relative;

                    .tailCover {
                      background-color: $light-box-bg;
                      position: absolute;
                      left: 5px;
                      width: 2px;
                      height: calc(100% - 2rem);
                      z-index: 9;
                    }
                    .connectedTitle {
                      .connector {
                      }
                      h1 {
                      }
                    }
                  }
                  &.first {
                    position: relative;

                    .tailCover {
                      background-color: $light-box-bg;
                      position: absolute;
                      left: 5px;
                      top: 0;
                      width: 2px;
                      height: 2.1rem;
                      z-index: 9;
                    }
                    .connectedTitle {
                      .connector {
                      }
                      h1 {
                      }
                    }
                  }
                  &.skeleton {
                    .connector {
                      background-color: $light-skeleton;
                    }
                    h3 {
                      color: $light-skeleton;
                    }
                    h2 {
                      color: $light-skeleton;
                    }
                  }
                }
              }
            }
          }
          &.desktop {
            display: grid;
          }
        }
      }
    }

    &.dark {
      .dcaBox {
        background-color: $dark-box-bg;
        border: 1px solid $dark-border;
      }

      .dcaBox {
        background-color: $dark-box-bg;

        .creationContainer {
          .title {
            color: $dark-primary !important;
          }

          .infoAndClearAll {
            p {
              color: $dark-primary !important;

              span {
                color: $dark-percentageUP !important;
              }
            }

            button {
              color: $dark-secondary !important;
            }
          }
          .tokensContainer {
          }

          .buyToken {
            .token {
              background: $dark-bg !important;

              .tokenInfo {
                img {
                }

                h2 {
                  color: $dark-primary !important;
                }
              }

              .tokenPercentage {
                input {
                  color: $dark-primary !important;
                }

                input:focus {
                  border: none;
                }
              }

              .Percentage {
                color: $dark-secondary !important;
              }
            }

            svg {
              fill: $dark-percentageDown !important;
            }
          }
          .noToken {
            p {
              color: $dark-primary;
            }
          }

          .addTokenButton {
            img {
            }
          }

          .seprator {
            background-color: $dark-tertiary !important;
          }

          .smallTitle {
            color: $dark-tertiary !important;
          }

          .sellInput {
            background-color: $dark-bg !important;
            border: 1px solid $dark-secondary !important;

            input {
              color: $dark-primary !important;
            }

            input:focus {
              // border: 1px solid $dark-secondary;
            }

            .inputSeprator {
              background-color: $dark-tertiary !important;
            }

            .sellTokenInfo {
              img {
              }

              h3 {
                color: $dark-primary !important;
              }

              svg {
                fill: $dark-primary !important;
              }
            }
          }

          .cycle_container {
            .cycle {
              border: 1px solid $dark-secondary !important;
              color: $dark-primary !important;
            }

            .cycle.active {
              border: 1px solid $dark-secondary !important;
              background-color: $dark-secondary !important;
              color: $dark-primary !important;
            }
          }
          //    .cycle_container {
          //         .selected_cycle {
          //             background-color: $dark-bg;
          //             p {
          //                 color: $dark-primary;
          //             }
          //         }
          //         .options_container {
          //             background-color: $dark-bg;
          //             .option {
          //                 color: $dark-primary;
          //                 &:hover {
          //                     background-color: $dark-tertiary;
          //                 }
          //             }
          //         }
          //     }

          .monthDate {
            h4 {
              color: $dark-primary !important;
            }

            .localTimeInputs {
              background-color: $dark-bg !important;

              input {
                color: $dark-primary !important;
              }
            }
          }

          .weekdays {
            .weekday {
              border: 1px solid $dark-secondary !important;
              color: $dark-primary !important;
            }

            .weekday.active {
              border: 1px solid $dark-secondary !important;
              background-color: $dark-secondary !important;
              color: $dark-primary !important;
            }
          }

          .localTime {
            h4 {
              color: $dark-primary !important;
            }

            .localTimeInputs {
              background-color: $dark-bg !important;

              .localTime_seprator {
              }

              input {
                color: $dark-primary !important;
              }
            }
          }

          .smallTimeLine {
            color: $dark-primary !important;
          }

          .reviewBTN {
          }
          .reviewDca {
            .logoContainer {
              p {
                color: $dark-primary;
              }
            }
          }
        }
      }
    }
  }
}

