.sidebar {
  z-index: 8;
  position: fixed;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100vw;
  // justify-content: center;
  justify-items: center;
  background-color: $light-box-bg;
  padding: 1rem 0;
  border-top: 1px solid $light-border;
  .sidebar__options {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    svg {
      height: 18px;
      width: 18px;
      margin: 1rem;
    }
    p {
      @include text(mobile);
      font-size: 10px;
      color: #9b9b9b;
    }
  }

  .sidebar__logo {
    display: none;
  }
  .sidebar__options.hiddenM {
    display: none;
  }
  .sidebar__options.active {
    svg {
      fill: $light-secondary;
    }
    p {
      color: $light-secondary;
    }
  }
  .switcherContainer {
    display: none;
    &.dark {
      border-top: 1px solid $dark-tertiary;

      .checkbox {
      }

      .checkbox-label {
        background-color: $dark-box-bg;
      }

      .fa-moon {
        fill: $dark-secondary;
      }

      .fa-sun {
        fill: $dark-secondary;
      }

      .checkbox-label .ball {
        background-color: $dark-primary;
      }

      .checkbox:checked + .checkbox-label .ball {
      }
    }
  }

  &.dark {
    background-color: $dark-box-bg;
    border-top: 1px solid $dark-border;

    .sidebar__options {
      svg {
      }
      p {
        color: #9b9b9b;
      }
    }
    .sidebar__options.active {
      svg {
        fill: $dark-secondary;
      }
      p {
        color: $dark-secondary;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .sidebar {
    z-index: 8;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: grid;
    width: 14vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
    grid-template-columns: 1fr;
    justify-items: flex-start;
    background-color: $light-box-bg;
    padding: 0rem 2rem;
    border-top: none;
    border-right: 1px solid $light-border;

    transition: all ease 0.5s;

    .sidebar__logo {
      display: flex;
      align-items: center;
      justify-content: start;
      img {
        width: 75%;
        height: auto;
      }
    }
    .sidebar__options {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      transition: all ease 0.5s;

      svg {
        margin-right: 2rem;
        width: 15px;
        height: 15px;
        transition: all ease 0.5s;

        // text-align: center
      }
      p {
        @include text(laptop);
        //    display: none;
        font-size: 1.2rem;
        width: auto;
        overflow: hidden;
        transition: all ease 0.5s;
      }
    }
    .sidebar__options.sidebar__options.hiddenM {
      display: flex;
    }
    .sidebar__options.active {
      svg {
        fill: $light-secondary;
      }
      p {
        color: $light-secondary;
      }
    }
    .sidebar__options:hover {
      svg {
        fill: $light-secondary;
      }
      p {
        color: $light-secondary;
      }
    }
    .sidebar__options.Locked {
      cursor: not-allowed;
      svg {
        fill: rgba(0, 0, 0, 0.15);
      }
      p {
        color: rgba(0, 0, 0, 0.15);
      }
    }

    &.dark {
      background-color: $dark-box-bg;
      border-top: none;
      border-right: 1px solid $dark-border;
      .sidebar__logo {
        h1 {
          color: $dark-primary;
        }
      }

      .sidebar__options {
        svg {
        }
        p {
          color: #9b9b9b;
        }
      }
      .sidebar__options.active {
        svg {
          fill: $dark-secondary;
        }
        p {
          color: $dark-secondary;
        }
      }
      .sidebar__options:hover {
        svg {
          fill: $light-secondary;
        }
        p {
          color: $light-secondary;
        }
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .sidebar {
    border-top: none;
    border-right: 1px solid $light-border;
    z-index: 8;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: grid;
    width: 14vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
    grid-template-columns: 1fr;
    justify-items: flex-start;
    background-color: $light-box-bg;
    padding: 0rem 1.5rem;

    transition: all ease 0.5s;

    .sidebar__logo {
      display: flex;
      align-items: center;
      justify-content: start;
      img {
        width: 75%;
        height: auto;
      }
    }
    .sidebar__options {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      transition: all ease 0.5s;

      svg {
        max-width: 10rem;
        min-width: 1rem;
        margin-right: 2rem;
        width: 20px;
        height: 20px;
        transition: all ease 0.5s;

        // text-align: center
      }
      p {
        @include text(laptop);
        //    display: none;
        font-size: 1.4rem;
        width: auto;
        overflow: hidden;
        transition: all ease 0.5s;
      }
    }
    .sidebar__options.sidebar__options.hiddenM {
      display: flex;
    }
    .sidebar__options.active {
      svg {
        fill: $light-secondary;
      }
      p {
        color: $light-secondary;
      }
    }
    .sidebar__options:hover {
      svg {
        fill: $light-secondary;
      }
      p {
        color: $light-secondary;
      }
    }
    .sidebar__options.Locked {
      cursor: not-allowed;
      svg {
        fill: rgba(0, 0, 0, 0.15);
      }
      p {
        color: rgba(0, 0, 0, 0.15);
      }
    }

    .switcherContainer {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      margin: 1rem;
      justify-content: space-between;
      p {
        @include text(laptop);
        //    display: none;
        font-size: 1.4rem;
        width: auto;
        // overflow: hidden;
        transition: all ease 0.5s;
        color: #9b9b9b;
      }
      .navbar__themeSwitcher {
        width: 100%;
        .checkbox {
          opacity: 0;
          position: absolute;
        }

        .checkbox-label {
          background-color: $light-bg;
          width: 50px;
          height: 26px;
          border-radius: 50px;
          position: relative;
          padding: 1rem;
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .fa-moon {
          fill: $light-secondary;
          height: 1.25em;
          width: 40%;
        }

        .fa-sun {
          fill: $light-secondary;
          height: 1.25em;
          width: 40%;
        }

        .checkbox-label .ball {
          background-color: $light-primary;
          width: 17px;
          height: 17px;
          position: absolute;
          left: 6px;
          top: 4px;
          border-radius: 50%;
          transition: transform 0.2s linear;
        }

        .checkbox:checked + .checkbox-label .ball {
          transform: translateX(21px);
        }
        &.dark {
          border-top: none;
          border-right: 1px solid $dark-border;
          .checkbox {
          }

          .checkbox-label {
            background-color: $dark-bg;
          }

          .fa-moon {
            fill: $dark-secondary;
          }

          .fa-sun {
            fill: $dark-secondary;
          }

          .checkbox-label .ball {
            background-color: $dark-primary;
          }

          .checkbox:checked + .checkbox-label .ball {
          }
        }
      }
    }

    &.dark {
      border-top: none;
      border-right: 1px solid $dark-border;
      background-color: $dark-box-bg;
      .sidebar__logo {
        h1 {
          color: $dark-primary;
        }
      }

      .sidebar__options {
        svg {
        }
        p {
          color: #9b9b9b;
        }
      }
      .sidebar__options.active {
        svg {
          fill: $dark-secondary;
        }
        p {
          color: $dark-secondary;
        }
      }
      .sidebar__options:hover {
        svg {
          fill: $light-secondary;
        }
        p {
          color: $light-secondary;
        }
      }
    }
  }
}

