.totalBalance {
    width: 100%;
    background-color: $light-box-bg;
    border-radius: 15px;
    box-shadow: 0 2px 26px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    padding: 1.5rem 1rem;
    gap: 1rem;
    position: relative;
    .refresh {
        background: none;
        position: absolute;
        right: 1rem;
        top: 1.5rem;
        cursor: pointer;
        img{
            width: 20px;
            height: 20px;
        }
    }
    
    h4 {
        font-family: Poppins;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: $light-primary;
    }
    h1 {
        font-family: Poppins;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: $light-primary;
    }
    .buttonGroup{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        
        gap: 1rem;
        width: 100%;
        button{
            background: none;
            border: none;
            @include button-responsive("mobile");
            padding:1rem 1rem;
            border-radius: 10px;
            
        }

    }
    &.dark {
        width: 100%;
        background-color: $dark-box-bg;
        box-shadow: 0 2px 26px rgba(255, 255, 255, 0.1);

        h4 {
            color: $dark-primary;
        }
        h1 {
            color: $dark-primary;
        }
      
    }
}

@media screen and (min-width: 1024px) {
    .totalBalance {
        width: 100%;
        background-color: $light-box-bg;
        border-radius: 15px;
        box-shadow: 0 2px 26px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        padding: 3rem 5rem;
        gap: 1.5rem;
        .refresh {
            background: none;
            position: absolute;
            right: 5rem;
            top: 3rem;
            cursor: pointer;
            img{
                width: 30px;
                height: 30px;
            }
        }
        h4 {
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            color: $light-primary;
        }
        h1 {
            font-family: Poppins;
            font-family: Rubik;
            font-size: 45px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .buttonGroup{
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            margin-top: 1rem;
            gap: 2rem;
            width: 100%;
            button{
                background: none;
                border: none;
                @include button-responsive("laptop");
                padding:1rem 1rem;
                border-radius: 10px;
            }
    
        }
        &.dark {
            width: 100%;
            background-color: $dark-box-bg;
            box-shadow: 0 2px 26px rgba(255, 255, 255, 0.1);

            h4 {
                color: $dark-primary;
            }
            h1 {
                color: $dark-primary;
            }

        }
    }
}
