.walletTokens {
  .wallet__totlaBalance {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    .balance__title {
      @include text(mobile);
      color: $light-primary;
      font-size: 13px;
      font-weight: 500;
    }
    .balance__dolarAmount {
      @include text(mobile);
      color: $light-primary;
      font-size: 15px;
      font-weight: 500;
    }
  }
  .wallet__tokens {
    background-color: $light-box-bg;
    margin-top: 1rem;
    border: 1px solid $light-border;
    border-radius: $border-radius;
    padding: 1.5rem 1rem;
    .header {
      display: grid;
      grid-template-columns: 40% 30% 30%;
      justify-items: center;
      border-bottom: 1px solid #d9d9d9;
      padding: 1rem 0;

      .header__title {
        @include text(mobile);
        font-weight: 700;
        color: $light-secondary;
        &.hiddenForMobile {
          display: none;
        }
      }
      .header__title:first-child {
        justify-self: self-start;
      }
    }
    .lowValueAssets__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 1.5rem;

      h3 {
        @include text(mobile);
        font-weight: 700;
        color: $light-secondary;
      }
      .lowValueAssets__button {
        margin-right: 1rem;
        padding: 0rem 1rem;
        background-color: transparent;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        img {
          width: 15px;
          height: 15px;
        }
      }
    }
    .token {
      display: grid;
      grid-template-columns: 40% 30% 30%;
      align-items: center;
      justify-items: center;
      border-bottom: 1px solid #d9d9d9;
      padding: 2rem 0rem;
      .token__info {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        img {
          width: 26px;
          height: 26px;
        }
        .nameAndPrice {
          h4 {
            @include text(mobile);
            color: $light-primary;
            font-size: 12px;
            font-weight: 500;
          }
          p {
            color: $light-tertiary;
            font-family: 'Inter';
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-top: 0.5rem;
          }
        }
      }
      .token__amount {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        h3 {
          font-family: Poppins;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          color: $light-primary;
        }
        p {
          color: $light-tertiary;
          font-family: Inter;
          font-size: 9px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
      .token__24change {
        display: none;
      }
      .token__price {
        display: none;
      }
      .token__perc {
        display: none;
      }
      .token__value {
        h3 {
          color: $light-primary;
          font-family: Poppins;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        p {
          margin-top: 0.5rem;

          color: $light-tertiary;
          font-family: Inter;
          font-size: 9px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
    .token:last-child {
      border: none;
      padding-bottom: 0;
    }
  }
  .viewMoreButton {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;
  }
  &.dark {
    .wallet__totlaBalance {
      .balance__title {
        color: #9a9cb8;
      }
      .balance__dolarAmount {
        color: #9a9cb8;
      }
    }
    .wallet__tokens {
      background-color: $dark-box-bg;
      border: 1px solid $dark-border;

      .header {
        border-bottom: 1px solid #d9d9d9;

        .header__title {
          color: $dark-secondary;
        }
        .header__title:first-child {
        }
      }
      .lowValueAssets__header {
        h3 {
          color: $dark-secondary;
        }
      }
      .token {
        border-bottom: 1px solid #d9d9d9;
        .token__info {
          img {
          }
          .nameAndPrice {
            h4 {
              color: $dark-primary;
            }
            p {
              color: $dark-tertiary;
            }
          }
        }
        .token__amount {
          h3 {
            color: $dark-primary;
          }
          p {
            color: $dark-tertiary;
          }
        }
        .token__value {
          h3 {
            color: $dark-primary;
          }
          p {
            color: $dark-tertiary;
          }
        }
      }
      .token:last-child {
        border: none;
        padding-bottom: 0;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .walletTokens {
    .wallet__totlaBalance {
      display: flex;
      gap: 1.5rem;
      align-items: center;
      .balance__title {
        @include text(laptop);
        color: $light-primary;
        font-size: 19px;
        font-weight: 500;
      }
      .balance__dolarAmount {
        @include text(laptop);
        color: $light-primary;
        font-size: 20px;
        font-weight: 500;
      }
    }

    .wallet__tokens {
      background-color: $light-box-bg;
      margin-top: 2rem;
      border-radius: 15px;
      padding: 3rem 5rem;
      display: flex;
      gap: 2rem;
      .chart {
        width: 30%;
        align-self: center;
      }
      .assets_table {
        width: 80%;
        .header {
          display: grid;
          grid-template-columns: 25% 25% 25% 25%;
          justify-items: flex-start;
          border-bottom: 1px solid #d9d9d9;
          padding: 1.5rem 0;

          .header__title {
            @include text(laptop);
            font-size: 1.5rem;
            font-weight: 600;
            color: $light-secondary;
            &.hiddenForMobile {
              display: block;
            }
          }
          .header__title:first-child {
            justify-self: self-start;
          }
        }
        .lowValueAssets__header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-top: 1.5rem;

          h3 {
            @include text(laptop);
            font-size: 1.5rem;
            font-weight: 500;
            color: $light-secondary;
            // &.hiddenForMobile{
            //     display: block;
            // }
          }
          .lowValueAssets__button {
            margin-right: 1rem;
            padding: 0rem 1rem;
            background-color: transparent;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            img {
              width: 15px;
              height: 15px;
            }

            // button {
            //     background-color: none;
            //     width: 5rem;
            //     cursor: pointer;
            //     transition: all 0.3s ease-in-out;
            //     &:hover {
            //         background-color: $light-primary;
            //     }

            // }
          }
        }

        .token {
          display: grid;
          grid-template-columns: 25% 25% 25% 25%;
          align-items: center;
          justify-items: flex-start;
          border-bottom: 1px solid #d9d9d9;
          padding: 1.5rem 0;
          .token__info {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: flex-start;
            gap: 1.5rem;
            img {
              width: 30px;
              height: 30px;
            }
            .nameAndPrice {
              h4 {
                @include text(laptop);
                color: $light-primary;
                font-size: 1.4rem;
                font-weight: 500;
              }
              p {
                color: $light-tertiary;
                font-family: 'Inter';
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                &.hideForDesktop {
                  display: none;
                }
              }
            }
          }
          .token__amount {
            display: flex;
            width: 100%;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;
            h3 {
              font-family: Poppins;
              font-size: 1.4rem;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              color: $light-primary;
            }
            p {
              color: $light-tertiary;
              font-family: Inter;
              font-size: 1.2rem;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
          .token__24change {
            display: block;
            width: 100%;
            color: $light-tertiary;
            h3 {
              font-family: Poppins;
              font-size: 1.4rem;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }
            &.up {
              color: $light-percentageUP;
            }
            &.down {
              color: $light-percentageDown;
            }
          }
          .token__price {
            display: block;
            h3 {
              color: $light-primary;
              font-family: Poppins;
              font-size: 1.4rem;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }
          }
          .token__value {
            h3 {
              color: $light-primary;
              font-family: Poppins;
              font-size: 1.4rem;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }
            p {
              color: $light-tertiary;
              font-family: Inter;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
          .token__perc {
            display: block;

            h3 {
              color: $light-primary;
              font-family: Poppins;
              font-size: 1.4rem;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }
          }
        }
        .token:last-child {
          border: none;
          padding-bottom: 0;
        }
      }
    }

    &.dark {
      .wallet__totlaBalance {
        .balance__title {
          color: #9a9cb8;
        }
        .balance__dolarAmount {
          color: #9a9cb8;
        }
      }
      .wallet__tokens {
        background-color: $dark-box-bg;

        .header {
          border-bottom: 1px solid #d9d9d9;

          .header__title {
            color: $dark-secondary;
          }
          .header__title:first-child {
          }
        }
        .lowValueAssets__header {
          h3 {
            color: $dark-secondary;
          }
        }
        .token {
          border-bottom: 1px solid #d9d9d9;
          .token__info {
            img {
            }
            .nameAndPrice {
              h4 {
                color: $dark-primary;
              }
              p {
                color: $dark-tertiary;
              }
            }
          }
          .token__amount {
            h3 {
              color: $dark-primary;
            }
            p {
              color: $dark-tertiary;
            }
          }
          .token__value {
            h3 {
              color: $dark-primary;
            }
            p {
              color: $dark-tertiary;
            }
          }
          .token__perc {
            h3 {
              color: $dark-primary;
            }
            p {
              color: $dark-tertiary;
            }
          }
          .token__price {
            h3 {
              color: $dark-primary;
            }
            p {
              color: $dark-tertiary;
            }
          }
        }
        .token:last-child {
          border: none;
          padding-bottom: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 1500px) {
  .walletTokens {
    .wallet__totlaBalance {
      display: flex;
      gap: 1.5rem;
      align-items: center;
      .balance__title {
        @include text(laptop);
        color: $light-primary;
        font-size: 19px;
        font-weight: 500;
      }
      .balance__dolarAmount {
        @include text(laptop);
        color: $light-primary;
        font-size: 20px;
        font-weight: 500;
      }
    }

    .wallet__tokens {
      background-color: $light-box-bg;
      margin-top: 2rem;
      border: 1px solid $light-border;
      border-radius: $border-radius;
      padding: 3rem 5rem;
      display: flex;

      .chart {
        width: 25%;
        align-self: center;
      }
      .assets_table {
        width: 80%;
        .header {
          display: grid;
          grid-template-columns: 25% 25% 25% 25%;
          justify-items: flex-start;
          border-bottom: 1px solid #d9d9d9;
          padding: 1.5rem 0;

          .header__title {
            @include text(laptop);
            font-size: 1.5rem;
            font-weight: 600;
            color: $light-secondary;
            &.hiddenForMobile {
              display: block;
            }
          }
          .header__title:first-child {
            justify-self: self-start;
          }
        }
        .lowValueAssets__header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-top: 1.5rem;

          h3 {
            @include text(laptop);
            font-size: 1.5rem;
            font-weight: 500;
            color: $light-secondary;
            // &.hiddenForMobile{
            //     display: block;
            // }
          }
          .lowValueAssets__button {
            margin-right: 1rem;
            padding: 0rem 1rem;
            background-color: transparent;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            img {
              width: 15px;
              height: 15px;
            }

            // button {
            //     background-color: none;
            //     width: 5rem;
            //     cursor: pointer;
            //     transition: all 0.3s ease-in-out;
            //     &:hover {
            //         background-color: $light-primary;
            //     }

            // }
          }
        }

        .token {
          display: grid;
          grid-template-columns: 25% 25% 25% 25%;
          align-items: center;
          justify-items: flex-start;
          border-bottom: 1px solid #d9d9d9;
          padding: 1.5rem 0;
          .token__info {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: flex-start;
            gap: 1.5rem;
            img {
              width: 30px;
              height: 30px;
            }
            .nameAndPrice {
              h4 {
                @include text(laptop);
                color: $light-primary;
                font-size: 1.4rem;
                font-weight: 500;
              }
              p {
                color: $light-tertiary;
                font-family: 'Inter';
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                &.hideForDesktop {
                  display: none;
                }
              }
            }
          }
          .token__amount {
            display: flex;
            width: 100%;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;
            h3 {
              font-family: Poppins;
              font-size: 1.4rem;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              color: $light-primary;
            }
            p {
              color: $light-tertiary;
              font-family: Inter;
              font-size: 1.2rem;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
          .token__24change {
            display: block;
            width: 100%;
            color: $light-tertiary;
            h3 {
              font-family: Poppins;
              font-size: 1.4rem;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }
            &.up {
              color: $light-percentageUP;
            }
            &.down {
              color: $light-percentageDown;
            }
          }
          .token__price {
            display: block;
            h3 {
              color: $light-primary;
              font-family: Poppins;
              font-size: 1.4rem;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }
          }
          .token__value {
            h3 {
              color: $light-primary;
              font-family: Poppins;
              font-size: 1.4rem;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }
            p {
              color: $light-tertiary;
              font-family: Inter;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
          .token__perc {
            display: block;

            h3 {
              color: $light-primary;
              font-family: Poppins;
              font-size: 1.4rem;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }
          }
        }
        .token:last-child {
          border: none;
          padding-bottom: 0;
        }
      }
    }

    &.dark {
      .wallet__totlaBalance {
        .balance__title {
          color: #9a9cb8;
        }
        .balance__dolarAmount {
          color: #9a9cb8;
        }
      }
      .wallet__tokens {
        background-color: $dark-box-bg;
        border: 1px solid $dark-border;
        .header {
          border-bottom: 1px solid #d9d9d9;

          .header__title {
            color: $dark-secondary;
          }
          .header__title:first-child {
          }
        }
        .lowValueAssets__header {
          h3 {
            color: $dark-secondary;
          }
        }
        .token {
          border-bottom: 1px solid #d9d9d9;
          .token__info {
            img {
            }
            .nameAndPrice {
              h4 {
                color: $dark-primary;
              }
              p {
                color: $dark-tertiary;
              }
            }
          }
          .token__amount {
            h3 {
              color: $dark-primary;
            }
            p {
              color: $dark-tertiary;
            }
          }
          .token__value {
            h3 {
              color: $dark-primary;
            }
            p {
              color: $dark-tertiary;
            }
          }
          .token__perc {
            h3 {
              color: $dark-primary;
            }
            p {
              color: $dark-tertiary;
            }
          }
          .token__price {
            h3 {
              color: $dark-primary;
            }
            p {
              color: $dark-tertiary;
            }
          }
        }
        .token:last-child {
          border: none;
          padding-bottom: 0;
        }
      }
    }
  }
}

