.doubleContainer {
    
    .sameChain {
        width: 100%;
        background-color: $light-box-bg;
        border-radius: 15px;
        box-shadow: 0 2px 26px rgba(0, 0, 0, 0.1);
        margin-top: 2rem;
        padding: 1.5rem 1rem;

        .header__titles {
            width: 100%;
            display: grid;
            grid-template-columns: 40% 30% 30%;
            justify-items: center;
            align-items: center;
            border-bottom: 1px solid #d9d9d9;
            padding-bottom: 1rem;

            .header__title {
                font-family: Poppins;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                color: $light-secondary;
            }

            .header__title.hideMobile {
                display: none;
            }

            .header__title:first-child {
                justify-self: start;
            }
        }

        .sameChainTokensContainer {
            height: 35vh;
            overflow-y: scroll;
            // overflow-x: visible;

            .token {
                display: grid;
                grid-template-columns: 40% 30% 30%;
                justify-items: center;
                align-items: center;
                align-content: center;
                border-bottom: 1px solid #d9d9d9;
                padding: 1rem 0;
                position: relative;


                .token__info {
                    justify-self: start;
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    .pics {
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;

                        svg {
                            fill: $light-percentageDown;
                        }

                        img {
                            width: 26px;
                            height: 26px;
                        }
                    }

                    .nameAndPrice {
                        display: grid;
                        grid-template-rows:1fr;
                        align-items: center;

                        h4 {
                            @include text(mobile);
                            color: $light-primary;
                            font-size: 12px;
                            font-weight: 500;
                        }

                        p {
                            display: none;
                            color: $light-tertiary;
                            font-family: "Inter";
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }
                }

                .price {
                    display: none;
                }

                .currentAmount {
                    display: grid;
                    grid-template-rows: 1fr;
                      row-gap: 1rem;
                    align-items: center;

                    h2 {
                        font-family: Inter;
                        font-size: 1.2rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        color: $light-primary;
                    }

                    h3 {
                        color: #b4b4b4;
                        font-family: Inter;
                        font-size: 1.1rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                    &.hideMobile {
                        display: none;
                    }
                }

                .newAmount {
                    display: grid;
                grid-template-columns: 1fr;
                   row-gap: 1rem;
                    align-items: center;
                    justify-items: center;
                    font-family: Inter;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                    .inputHolder {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;
                        width: 100%;
                        background-color: #f5f0f8;
                        padding: 0.3rem 0.5rem 0.3rem 0.5rem;
                        border-radius: 15px;
                        gap: 0;
                        color: $light-secondary;

                        input {
                            width: 100%;
                            background: none;
                            direction: ltr;
                            text-align: center;
                            color: $light-secondary;
                        }

                        input:focus {
                            outline: none;
                        }

                        /* For Webkit-based browsers (Chrome, Safari) */
                        input[type="number"]::-webkit-inner-spin-button,
                        input[type="number"]::-webkit-outer-spin-button {
                            -webkit-appearance: none;
                            appearance: none;
                            margin: 0;
                            /* This removes the margin around the arrows */
                        }

                        /* For Firefox */
                        input[type="number"] {
                            -moz-appearance: textfield;
                            /* Reset the Firefox appearance */
                        }

                        p {}
                    }
                    h2 {
                        font-family: Inter;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        color: $light-primary;
                    }

                    h3 {
                        color: #b4b4b4;
                        font-family: Inter;
                        font-size: 11px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                    img {
                        display: none;
                    }
                    &.hideMobile {
                        display: none;
                    }
                }
                .newAmountContainer{
                    display: flex;
                    gap: 1rem;
                    align-items: center;
                    // align-items: center;
                    .deleteBtn{
                        svg {
                            fill: $light-percentageDown;
                            width: 15px;
                            height: 15px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }


        .tokens__overview {
            width: 90%;
            margin: 2rem auto 0 auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0.5rem;
            align-items: center;
            justify-content: space-between;
            align-items: center;
            
            .p__left {
                background-color: #e5fcfc;
                padding: 0.5rem 1rem;
                border-radius: 15px;
                display: flex;
                gap: 0.5rem;

                .p {
                    color: #e63f66;
                    font-family: Inter;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                .t {
                    color: #9a9cb8;
                    font-family: Poppins;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }

            .tokens__select__button {

                font-family: Poppins;
                font-size: 8px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                background: none;
                width: 100%;
                display: flex;
                color: $light-secondary;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                padding: 0.5rem;
                border: 1px solid #843ea1;
                border-radius: 20px;
                cursor: pointer;
                grid-row-start: 2;

            }

            .confirmButton {
                @include button-responsive(mobile);
                padding: 1rem;
                width: 100%;
                font-size: 8px;
                grid-row-start: 2;
                cursor: pointer;
            }

            .p__total {
                display: flex;
                gap: 1rem;

                h4 {
                    color: #843ea1;
                    font-family: Poppins;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }

                P {
                    color: #00de3b;
                    font-family: Inter;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }

        .error__message {
            p {
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                text-align: center;
                font-weight: 400;
                line-height: normal;
                color: #e63f66;
                margin: 2rem;
            }
        }
    }

    .calculator {
        display: none;
    }

    &.dark {
        .sameChain {
            background-color: $dark-box-bg;

            box-shadow: 0 2px 26px rgba(255, 255, 255, 0.1);

            .header__titles {
                border-bottom: 1px solid #d9d9d9;

                .header__title {
                    color: $dark-secondary;
                }

                .header__title:first-child {
                    justify-self: start;
                }
            }

            .token {
                border-bottom: 1px solid #d9d9d9;

                .token__info {
                    .pics {
                        svg {
                            fill: $dark-percentageDown;
                        }

                        img {}
                    }

                    .nameAndPrice {
                        h4 {
                            @include text(mobile);
                            color: $dark-primary;
                        }

                        p {
                            color: #b4b4b4;
                        }
                    }
                }

                .currentAmount {
                    h2 {
                        color: $dark-primary;
                    }

                    h3 {
                        color: #b4b4b4;
                    }
                }

                .newAmount {
                    .inputHolder {
                        color: $dark-secondary;

                        input {
                            color: $dark-secondary;
                        }

                        p {}
                    }

                    h3 {
                        color: #b4b4b4;
                    }
                }
            }

            .tokens__select__button {
                color: $dark-secondary;

                border: 1px solid #843ea1;
            }

            .tokens__overview {
                .p__left {
                    background-color: #3f2c59;

                    .p {
                        color: #e63f66;
                    }

                    .t {
                        color: #9a9cb8;
                    }
                }

                .p__total {
                    display: flex;
                    gap: 1rem;

                    h4 {
                        color: #843ea1;
                    }

                    P {
                        color: #00de3b;
                    }
                }
            }

            .error__message {
                p {
                    color: #e63f66;
                }
            }
        }

        .calculator {
            display: none;
        }
    }
}

@media screen and (min-width: 1024px) {
    .doubleContainer {
        .flex {
            display: flex;
            // align-items: center;
            width: 100%;
            gap: 2rem;
            background-color: $light-box-bg;
            border-radius: 15px;
            box-shadow: 0 2px 26px rgba(0, 0, 0, 0.1);
            margin-top: 2rem;
            padding: 3rem 5rem;

            .sameChain {
                width: 100%;
                box-shadow: none;
                padding: 0;
                margin-top: 0;

                .header__titles {
                    width: 100%;
                    display: grid;
                    grid-template-columns: 20% 16% 16% 16% 16% 16%;
                    justify-items: start;
                    align-items: center;
                    border-bottom: 1px solid #d9d9d9;
                    padding-bottom: 1.5rem;
                    

                    .header__title {
                        font-family: Poppins;
                        font-size: 1.4rem;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        color: $light-secondary;
                       
                        
                    }

                    .header__title.hideMobile {
                        display: block;
                    }

                    .header__title:first-child {
                        justify-self: start;
                    }
                }

                .sameChainTokensContainer {
                    height: 30vh;
                    overflow-y: scroll;
                    overflow-x: visible;

                    &::-webkit-scrollbar-track {
                        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                        background-color: #F5F5F5;
                    }

                    &::-webkit-scrollbar {
                        width: 10px;
                        background-color: #F5F5F5;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: $light-secondary;
                        background-image: -webkit-linear-gradient(90deg,
                                rgba(255, 255, 255, .2) 25%,
                                transparent 25%,
                                transparent 50%,
                                rgba(255, 255, 255, .2) 50%,
                                rgba(255, 255, 255, .2) 75%,
                                transparent 75%,
                                transparent)
                    }

                    .token {
                        display: grid;
                        grid-template-columns: 20% 16% 16% 16% 16% 16%;
                        justify-items: start;
                        // align-items: center;
                        align-content: center;
                        border-bottom: none;
                        
                        // padding: 1rem 0;

                        .token__info {
                            justify-self: start;
                            display: flex;
                            align-items: center;
                            gap: 1rem;
                            position: relative;
                            

                            .pics {
                                display: flex;
                                align-items: center;
                                gap: 1rem;

                                svg {

                                    fill: $light-percentageDown;
                                    width: 15px;
                                    height: 15px;
                                    cursor: pointer;
                                }

                                img {
                                    width: 25px;
                                    height: 25px;
                                }
                            }

                            .nameAndPrice {
                                display: block;
                                align-items: center;

                                h4 {
                                    color: $light-primary;
                                    font-family: Poppins;
                                    font-size: 14px !important;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: normal;
                                }

                                p {
                                    color: $light-tertiary;
                                    font-family: "Inter";
                                    font-size: 12px;
                                    font-style: normal;
                                    font-weight: 400;
                                }
                            }
                        }

                        .price {
                            display: block;
                            color: $light-primary;
                            font-family: Poppins;
                            font-size: 14px !important;
                            font-style: normal;
                            font-weight: 500;
                            // line-height: normal;
                            
                        }

                        .currentAmount {
                            display: grid;
                            grid-template-columns: 1fr;
                            gap: 1rem;
                            align-items: center;
                            padding-left: 1rem;
                            

                            h2 {
                                font-family: Inter;
                                font-size: 1.4rem;
                                font-style: normal;
                                font-weight: 500;
                                color: $light-primary;
                            }

                            h3 {
                                display: none;
                                // color: #b4b4b4;
                                // font-family: Inter;
                                // font-size: 12px;
                                // font-style: normal;
                                // font-weight: 400;
                            }
                        }

                        .newAmount {
                            display: grid;
                            grid-template-columns: 1fr;
                            row-gap: 0.5rem;
                            align-items: center;
                            padding: 0 0 0 1rem;
                            // font-family: Inter;
                            // font-size: 14px;
                            // font-style: normal;
                            // font-weight: 400;
                            // line-height: normal;

                            .inputHolder {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 100%;
                                background-color: #f5f0f8;
                                padding: 0.3rem 1rem 0.3rem 1rem;
                                border-radius: 15px;
                                gap: 0;
                                color: $light-secondary;

                                input {
                                    width: 100%;
                                    background: none;
                                    direction: unset;
                                    text-align: center;
                                    color: $light-secondary;
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
                                }

                                input:focus {
                                    outline: none;
                                }
                            }
                            h2 {
                                font-family: Inter;
                                font-size: 1.4rem;
                                font-style: normal;
                                font-weight: 500;
                                color: $light-primary;
                            }
                            h3 {
                                display: none;
                            
                            }

                            img {
                                
                                width: 100%;
                                height: 100%;
                                display: block;
                            }
                        }
                        .deleteBtn {
                            svg {
                                fill: $light-percentageDown;
                                width: 15px;
                                height: 15px;
                                cursor: pointer;
                            
                        }
                    }
                }
                }

               

                .tokens__overview {
                    width: 90%;
                    margin: 2rem auto 0 auto;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 5vh;
                    gap: 1rem;

                    .p__left {
                        background-color: #e5fcfc;
                        padding: 1rem 1.4rem;
                        border-radius: 15px;
                        display: flex;
                        gap: 1rem;

                        .p {
                            color: #e63f66;
                            font-family: Inter;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }

                        .t {
                            color: #9a9cb8;
                            font-family: Poppins;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }

                    .tokens__select__button {

                        font-family: Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        background: none;
                        display: flex;
                        color: $light-secondary;
                        justify-content: center;
                        align-items: center;
                        gap: 1.5rem;
                        padding: 1rem;
                        border: 1px solid #843ea1;
                        border-radius: 20px;
                        width: 50%;
                    }
                    .confirmButton {
                        @include button-responsive(laptop);
                        font-size: 14px;
                        border-radius: 20px;
                        padding: 1rem;
                        width: 50%;
                        cursor: pointer;
                    }

                    .p__total {
                        display: flex;
                        gap: 1.5rem;
                        align-items: center;

                        h4 {
                            color: #843ea1;
                            font-family: Poppins;
                            font-size: 17px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }

                        P {
                            color: #00de3b;
                            font-family: Inter;
                            font-size: 17px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }
                }

                .error__message {
                    p {
                        font-family: Inter;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        color: #e63f66;
                        margin: 2rem;
                    }
                }
            }

            .actionsContainer {
                width: 0%;

            }
        }

        .calculator {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 0%;
            overflow: hidden;
            transition: all 0.3s ease-in;
            border-bottom: 1px solid #d9d9d9;

            &.active {
                padding: 2rem 1rem;
                height: auto;
                transition: all 0.3s ease-in;
            }

            .header__titles {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr !important;
                justify-items: center;
                align-items: center;
                padding: 2.5rem 0;
                border: none !important;

                .header__title {
                    font-family: Poppins;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    color: $light-secondary;
                }

                .header__title:first-child {
                    justify-self: start;
                }
            }

            .factorsBox {
                width: 100%;
                display: flex;
                flex-direction: column;

                height: 100%;

                .rangeHeader {
                    display: flex;
                    gap: 1.5rem;
                    justify-content: space-between;
                    align-items: center;
                    margin: 2rem 0 1rem 0;

                    .label {
                        width: 70%;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }

                    .percInput {
                        width: 20%;
                        background-color: #f5f0f8;
                        border-radius: 15px;
                        padding: 0.3rem 1rem;
                        text-align: center;
                        color: $light-secondary;
                        font-size: 16px;
                    }
                }

                .rangeInput[type="range"] {
                    width: 100%;
                    -webkit-appearance: none;
                    background-color: #f5f0f8;
                    border-radius: 15px;
                }

                .rangeInput[type="range"]::-webkit-slider-runnable-track {}

                .rangeInput[type="range"]::-webkit-slider-thumb {
                    width: 15px;
                    -webkit-appearance: none;
                    height: 15px;
                    border-radius: 50%;
                    cursor: pointer;
                    background: $light-secondary;
                }

                .timePeriods {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    justify-content: space-between;

                    .timePeriod {
                        margin: 0 1rem;
                        color: $light-tertiary;
                        @include text(mobile);
                        font-size: 13px;
                        cursor: pointer;
                    }

                    .timePeriod.active {
                        background-color: $light-secondary;
                        padding: 3px 10px;
                        border-radius: 15px;
                        color: $light-box-bg;
                        font-weight: 700;
                    }
                }

                .result {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    margin-top: 3rem;
                    height: 50%;
                    align-items: center;

                    .token {
                        display: flex;
                        align-items: center;
                        gap: 1.5rem;

                        .nameAndSymbol {
                            h2 {
                                font-size: 15px;
                            }

                            h3 {
                                font-size: 11px;
                                color: $light-tertiary;
                            }
                        }
                    }

                    .data {

                        display: grid;
                        grid-template-columns: 1fr 1fr;

                        // grid-template-rows: 33% 33% 33%;
                        span {
                            font-size: 13px;
                            font-weight: 500;
                        }

                        h3 {
                            font-size: 15px;
                            font-weight: 600;
                            margin-bottom: 1rem;
                        }
                    }
                }
            }
        }


        &.dark {
            .flex {
                background-color: $dark-box-bg;

                box-shadow: none;

                .sameChain {
                    box-shadow: none;

                    .header__titles {
                        border-bottom: 1px solid #d9d9d9;

                        .header__title {
                            color: $dark-secondary;
                        }

                        .header__title:first-child {
                            justify-self: start;
                        }
                    }

                    .token {
                        border-bottom: 1px solid #d9d9d9;

                        .token__info {
                            .pics {
                                svg {
                                    fill: $dark-percentageDown;
                                }

                                img {}
                            }

                            .nameAndPrice {
                                h4 {
                                    @include text(mobile);
                                    color: $dark-primary;
                                }

                                p {
                                    color: #b4b4b4;
                                }
                            }
                        }

                        .price {
                            color: $dark-primary;
                        }

                        .currentAmount {
                            h2 {
                                color: $dark-primary;
                            }

                            h3 {
                                color: #b4b4b4;
                            }
                        }

                        .newAmount {
                            .inputHolder {
                                color: $dark-secondary;

                                input {
                                    color: $dark-secondary;
                                }

                                p {}
                            }
                            h2 {
                                color: $dark-primary;
                            }

                            h3 {
                                color: $dark-primary;
                            }
                        }
                    }

                    .tokens__select__button {
                        color: $dark-secondary;

                        border: 1px solid #843ea1;
                    }

                    .tokens__overview {
                        .p__left {
                            background-color: #3f2c59;

                            .p {
                                color: #e63f66;
                            }

                            .t {
                                color: #9a9cb8;
                            }
                        }

                        .p__total {
                            display: flex;
                            gap: 1rem;

                            h4 {
                                color: #843ea1;
                            }

                            P {
                                color: #00de3b;
                            }
                        }
                    }

                    .error__message {
                        p {
                            color: #e63f66;
                        }
                    }
                }

                .calculator {
                    background-color: $dark-box-bg;
                    box-shadow: 0 2px 26px rgba(255, 255, 255, 0.1);

                    .header__titles {
                        border-bottom: 1px solid #d9d9d9;

                        .header__title {
                            color: $dark-secondary;
                        }

                        .header__title:first-child {}
                    }

                    .factorsBox {
                        .rangeHeader {
                            .label {
                                color: $dark-primary;

                            }

                            .percInput {
                                background-color: #f5f0f8;

                                color: $dark-secondary;
                            }
                        }

                        .rangeInput[type="range"] {
                            -webkit-appearance: none;
                            background-color: #f5f0f8;
                        }

                        .rangeInput[type="range"]::-webkit-slider-runnable-track {}

                        .rangeInput[type="range"]::-webkit-slider-thumb {
                            background: $dark-secondary;
                        }

                        .timePeriods {
                            .timePeriod {
                                @include text(mobile);
                                color: $dark-tertiary;
                            }

                            .timePeriod.active {
                                background-color: $dark-secondary;

                                color: $dark-box-bg;
                            }
                        }

                        .result {
                            .token {
                                .nameAndSymbol {
                                    h2 {
                                        color: $dark-primary;

                                    }

                                    h3 {
                                        color: $dark-tertiary;
                                    }
                                }
                            }

                            .data {

                                // display: grid;
                                // grid-template-rows: 33% 33% 33%;
                                span {
                                    color: $dark-primary;
                                }

                                h3 {
                                    color: $dark-primary;

                                }
                            }
                        }
                    }
                }
            }

        }

    }
}