.walletConnectModal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  overflow: hidden;
  pointer-events: none;

  .bg {
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.8);
    opacity: 0;
    transition: all 0.2s ease-in;
    .container {
      position: absolute;
      bottom: 0;
      width: 100%;
      overflow: hidden;
      background-color: $light-bg;
      border-radius: $border-radius;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 10%;
      height: 0;
      transition: all 0.3s ease-in;
      .topSection {
        display: grid;
        grid-template-columns: 0.5fr 1fr 0.5fr;
        width: 100%;
        .backBTN {
          background: none;
          color: $light-primary;

          svg {
            fill: none;
            width: 16px;
            height: 16px;
          }
        }
        .closeBTN {
          background: none;
          color: $light-primary;
          svg {
            fill: none;
            width: 16px;
            height: 16px;
          }
        }
        .title {
          text-align: center;
          font-weight: 700;
          color: $light-primary;
          font-size: 1.5rem;
        }
      }
      .seprator {
        width: 100%;
        height: 1px !important;
        background-color: $light-border;
        margin: 2rem 0;
      }
      .walletsContainer {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        overflow-y: scroll;
        .wallet {
          cursor: pointer;
          display: flex;
          gap: 1.2rem;
          align-items: center;
          background-color: $light-box-bg;
          border-radius: calc(4px * 4);
          padding: 0.7rem 1.6rem;
          .walletIcon {
            width: 40px;
            height: 40px;
            border-radius: calc(4px * 3);
            border: 1px solid rgba(0, 0, 0, 0.1);
          }
          .walletDetails {
            .walletName {
              color: $light-primary;
              font-size: 1.2rem;
            }
            .walletStatus {
              color: $light-secondary;
              font-size: 1rem;
            }
          }

          &.NotDetected {
            cursor: not-allowed;
            // background: none;
          }
        }
        .loadingContainer {
          display: flex;
          flex-direction: column;
          align-items: center;
          .loading {
            width: 50px;
          }
          h3 {
            margin-top: 2rem;
            font-size: 1.7rem;
            color: $light-primary;
          }
          p {
            margin-top: 1.5rem;
            font-size: 1.3rem;
            color: $light-secondary;
          }
          button {
            margin-top: 1.5rem;
            background: none;
            background-color: $light-box-bg;
            color: $light-secondary;
            font-size: 1.3rem;
            display: flex;
            align-items: center;
            border: 1px solid $light-border;
            border-radius: $border-radius;
            padding: 0.7rem;
            svg {
              fill: none;
              width: 14px;
              height: 14px;
            }
            &:hover {
              background-color: #fff;
            }
          }
        }
        .failedContainer {
          display: flex;
          flex-direction: column;
          align-items: center;
          .failed {
            width: 50px;
          }
          h3 {
            margin-top: 2rem;
            font-size: 1.7rem;
            color: $light-percentageDown;
          }
          p {
            margin-top: 1.5rem;
            font-size: 1.3rem;
            color: $light-secondary;
          }
          button {
            margin-top: 1.5rem;
            background: none;
            background-color: $light-box-bg;
            color: $light-secondary;
            font-size: 1.3rem;
            display: flex;
            align-items: center;
            border: 1px solid $light-border;
            border-radius: $border-radius;
            padding: 0.7rem;
            svg {
              fill: none;
              width: 14px;
              height: 14px;
            }
            &:hover {
              background-color: #fff;
            }
          }
        }
      }
    }
  }

  &.active {
    .bg {
      opacity: 1;
      pointer-events: all;
      .container {
        height: 70%;
      }
    }
  }

  &.dark {
    .bg {
      background-color: rgba(20, 20, 20, 0.8);

      .container {
        background-color: $dark-bg;

        .topSection {
          .backBTN {
            color: $dark-primary;

            svg {
            }
          }
          .closeBTN {
            color: $dark-primary;
            svg {
            }
          }
          .title {
            color: $dark-primary;
          }
        }
        .seprator {
          background-color: $dark-tertiary;
        }
        .walletsContainer {
          .wallet {
            background-color: $dark-box-bg;
            .walletIcon {
              border: 1px solid rgba(255, 255, 255, 0.1);
            }
            .walletDetails {
              .walletName {
                color: $dark-primary;
              }
              .walletStatus {
                color: $dark-secondary;
              }
            }
            &.NotDetected {
              cursor: not-allowed;
              // background: none;
            }
          }
          .loadingContainer {
            .loading {
            }
            h3 {
              color: $dark-primary;
            }
            p {
              color: $dark-secondary;
            }
            button {
              background-color: $dark-box-bg;
              color: $dark-secondary;

              border: 1px solid $dark-border;

              svg {
              }
              &:hover {
                background-color: #000;
              }
            }
          }
          .failedContainer {
            .failed {
            }
            h3 {
              color: $dark-percentageDown;
            }
            p {
              color: $dark-secondary;
            }
            button {
              background-color: $dark-box-bg;
              color: $dark-secondary;

              border: 1px solid $dark-border;
              border-radius: $border-radius;
              svg {
              }
              &:hover {
                background-color: #000;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .walletConnectModal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    overflow: hidden;
    pointer-events: none;
    .bg {
      width: 100%;
      height: 100%;
      background-color: rgba(20, 20, 20, 0.8);
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: all 0.3s ease-in;

      .container {
        position: static;
        width: 20%;
        overflow: hidden;
        background-color: $light-bg;
        border-radius: $border-radius;
        border-bottom-left-radius: auto;
        border-bottom-right-radius: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0;
        height: 0;
        transition: all 0.2s ease-in;

        .topSection {
          display: grid;
          grid-template-columns: 0.5fr 1fr 0.5fr;
          width: 100%;
          .backBTN {
            background: none;
            color: $light-primary;

            svg {
              fill: none;
              width: 20px;
              height: 20px;
            }
          }
          .closeBTN {
            background: none;
            cursor: pointer;
            color: $light-primary;
            svg {
              fill: none;
              width: 20px;
              height: 20px;
            }
          }
          .title {
            text-align: center;
            font-weight: 700;
            color: $light-primary;
            font-size: 1.7rem;
          }
        }
        .seprator {
          width: 100%;
          height: 2px !important;
          background-color: $light-tertiary;
          margin: 2rem 0;
        }
        .walletsContainer {
          width: 90%;
          display: flex;
          flex-direction: column;
          gap: 1.2rem;
          overflow-y: hidden;
          .wallet {
            cursor: pointer;
            display: flex;
            gap: 1.2rem;
            align-items: center;
            background-color: $light-box-bg;
            border-radius: calc(4px * 4);
            padding: 0.7rem 1.6rem;
            .walletIcon {
              width: 40px;
              height: 40px;
              border-radius: calc(4px * 3);
              border: 1px solid rgba(0, 0, 0, 0.1);
            }
            .walletDetails {
              .walletName {
                color: $light-primary;
                font-size: 1.5rem;
              }
              .walletStatus {
                color: $light-secondary;
                font-size: 1.1rem;
              }
            }
            &.NotDetected {
              cursor: not-allowed;
              // background: none;
            }
          }
          .loadingContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            .loading {
              width: 50px;
            }
            h3 {
              margin-top: 2rem;
              font-size: 1.7rem;
              color: $light-primary;
            }
            p {
              margin-top: 1.5rem;
              font-size: 1.3rem;
              color: $light-secondary;
            }
            button {
              margin-top: 1.5rem;
              background: none;
              background-color: $light-box-bg;
              color: $light-secondary;
              font-size: 1.3rem;
              display: flex;
              align-items: center;
              border: 1px solid $light-border;
              border-radius: $border-radius;
              padding: 0.7rem;
              svg {
                fill: none;
                width: 14px;
                height: 14px;
              }
              &:hover {
                background-color: #fff;
              }
            }
          }
          .failedContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            .failed {
              width: 50px;
            }
            h3 {
              margin-top: 2rem;
              font-size: 1.7rem;
              color: $light-percentageDown;
            }
            p {
              margin-top: 1.5rem;
              font-size: 1.3rem;
              color: $light-secondary;
            }
            button {
              margin-top: 1.5rem;
              background: none;
              background-color: $light-box-bg;
              color: $light-secondary;
              font-size: 1.3rem;
              display: flex;
              align-items: center;
              border: 1px solid $light-border;
              border-radius: $border-radius;
              padding: 0.7rem;
              svg {
                fill: none;
                width: 14px;
                height: 14px;
              }
              &:hover {
                background-color: #fff;
              }
            }
          }
        }
      }
    }

    &.active {
      .bg {
        opacity: 1;
        pointer-events: all;
        .container {
          height: auto;
          padding: 2% 0;
          .topSection {
            height: auto;
          }
        }
      }
    }

    &.dark {
      .bg {
        background-color: rgba(20, 20, 20, 0.8);

        .container {
          background-color: $dark-bg;

          .topSection {
            .backBTN {
              color: $dark-primary;
              svg {
              }
            }
            .closeBTN {
              color: $dark-primary;
              svg {
              }
            }
            .title {
              color: $dark-primary;
            }
          }
          .seprator {
            background-color: $dark-tertiary;
          }
          .walletsContainer {
            .wallet {
              background-color: $dark-box-bg;
              .walletIcon {
                border: 1px solid rgba(255, 255, 255, 0.1);
              }
              .walletDetails {
                .walletName {
                  color: $dark-primary;
                }
                .walletStatus {
                  color: $dark-secondary;
                }
              }
              &.NotDetected {
                cursor: not-allowed;
                // background: none;
              }
            }
            .loadingContainer {
              .loading {
              }
              h3 {
                color: $dark-primary;
              }
              p {
                color: $dark-secondary;
              }
              button {
                background-color: $dark-box-bg;
                color: $dark-secondary;

                border: 1px solid $dark-border;

                svg {
                }
                &:hover {
                  background-color: #000;
                }
              }
            }
            .failedContainer {
              .failed {
              }
              h3 {
                color: $dark-percentageDown;
              }
              p {
                color: $dark-secondary;
              }
              button {
                background-color: $dark-box-bg;
                color: $dark-secondary;

                border: 1px solid $dark-border;
                border-radius: $border-radius;
                svg {
                }
                &:hover {
                  background-color: #000;
                }
              }
            }
          }
        }
      }
    }
  }
}
