.DcaPositions {
  .position {
    width: 100%;
    background-color: $light-box-bg;
    border-radius: 15px;
    margin-top: 1rem;
    padding: 1.5rem 1rem;

    .tokens {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;

      .token {
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
          width: 30px;
          height: 30px;
        }

        p {
          color: $light-primary;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }

      svg {
        fill: $light-primary;
      }
    }

    .detailsBox {
      margin: 2rem 0;
      background-color: #fafafa;
      border-radius: 15px;
      border: 1px solid #edeef2;
      padding: 0.7rem 1.2rem;
      display: flex;
      justify-content: space-between;

      .flex {
        display: flex;
        align-items: center;
        gap: 1rem;

        .figures {
          color: $light-tertiary;
          font-family: Poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }

        .figures.Up {
          color: $light-percentageUP;
        }

        .figures.Down {
          color: $light-percentageDown;
        }

        .percentage {
          background-color: $light-tertiary;
          color: $light-box-bg;
          font-family: Poppins;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          padding: 0.4rem;
          border-radius: 15px;
        }

        .percentage.Up {
          background-color: $light-percentageUP;
        }

        .percentage.Down {
          background-color: $light-percentageDown;
        }
      }
    }

    .seprator {
      width: 100%;
    }

    .dataRow {
      margin: 1rem 0;
      padding: 0.7rem 1.2rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 2rem;
      align-items: center;
    }

    .dataPart {
      h3 {
        color: $light-primary;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        &.delete_Btn {
          color: #e63f66;
          cursor: pointer;
        }
      }

      h4 {
        color: $light-tertiary;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }

    .dataPart:nth-child(even) {
      justify-self: end;
    }
  }

  &.dark {
    .header {
      .statusChanger {
        button {
          color: $dark-primary;
        }

        button.active {
          background-color: $light-secondary;
          color: $dark-primary;
        }
      }
    }

    .position {
      background-color: $dark-box-bg;

      .tokens {
        .token {
          display: flex;
          align-items: center;
          gap: 1rem;

          img {
          }

          p {
            color: $dark-primary;
          }
        }

        svg {
          fill: $dark-primary;
        }
      }

      .detailsBox {
        border: 1px solid #3a4151;
        background: #0c101c;

        .flex {
          .figures {
            color: $dark-tertiary;
          }

          .figures.Up {
            color: $dark-percentageUP;
          }

          .figures.Down {
            color: $dark-percentageDown;
          }

          .percentage {
            background-color: $dark-tertiary;
            color: $dark-box-bg;
          }

          .percentage.Up {
            background-color: $dark-percentageUP;
          }

          .percentage.Down {
            background-color: $dark-percentageDown;
          }
        }
      }

      .seprator {
        width: 100%;
        fill: #1a222f;
      }

      .dataRow {
      }

      .dataPart {
        h3 {
          color: $dark-primary;

          &.delete_Btn {
            color: #e63f66;
          }
        }

        h4 {
          color: $dark-tertiary;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .DcaPositions {
    .position {
      width: 100%;
      background-color: $light-box-bg;
      border-radius: 15px;
      margin-top: 1rem;
      padding: 3rem 5rem;

      .tokens {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        .token {
          display: flex;
          align-items: center;
          gap: 1.5rem;

          img {
            width: 35px;
            height: 35px;
          }

          p {
            color: $light-primary;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }

        svg {
          fill: $light-primary;
        }
      }

      .detailsBox {
        margin: 2rem 0;
        background-color: #fafafa;
        border-radius: 15px;
        border: 1px solid #edeef2;
        padding: 1rem 2rem;
        display: flex;
        justify-content: space-between;

        .dataPart {
          h3 {
            color: $light-primary;
            font-family: Poppins;
            font-size: 19px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            &.delete_Btn {
              color: #e63f66;
              cursor: pointer;
            }
          }

          h4 {
            margin-top: 0.5rem;

            color: $light-tertiary;
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }

        .flex {
          display: flex;
          align-items: center;
          gap: 1rem;
          margin-top: 0.5rem;

          .figures {
            color: $light-tertiary;
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }

          .figures.Up {
            color: $light-percentageUP;
          }

          .figures.Down {
            color: $light-percentageDown;
          }

          .percentage {
            background-color: $light-tertiary;
            color: $light-box-bg;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            padding: 0.5rem 1rem;
            border-radius: 15px;
          }

          .percentage.Up {
            background-color: $light-percentageUP;
          }

          .percentage.Down {
            background-color: $light-percentageDown;
          }
        }
      }

      .seprator {
        width: 100%;
      }

      .dataRow {
        margin: 1rem 0;
        padding: 0.7rem 1.2rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 2rem;
        align-items: center;
        column-gap: 4rem;
      }

      .dataPart {
        h3 {
          color: $light-primary;
          font-family: Poppins;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;

          &.delete_Btn {
            color: #e63f66;
            cursor: pointer;
          }
        }

        h4 {
          color: $light-tertiary;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

      .dataPart:nth-child(even) {
        justify-self: auto;
      }
    }

    &.dark {
      .header {
        .statusChanger {
          button {
            color: $dark-primary;
          }

          button.active {
            background-color: $dark-secondary;
            color: $dark-primary;
          }
        }
      }

      .position {
        background-color: $dark-box-bg;

        .tokens {
          .token {
            display: flex;
            align-items: center;
            gap: 1rem;

            img {
            }

            p {
              color: $dark-primary;
            }
          }

          svg {
            fill: $dark-primary;
          }
        }

        .detailsBox {
          border: 1px solid #3a4151;
          background: #0c101c;

          .flex {
            .figures {
              color: $dark-tertiary;
            }

            .figures.Up {
              color: $dark-percentageUP;
            }

            .figures.Down {
              color: $dark-percentageDown;
            }

            .percentage {
              background-color: $dark-tertiary;
              color: $dark-box-bg;
            }

            .percentage.Up {
              background-color: $dark-percentageUP;
            }

            .percentage.Down {
              background-color: $dark-percentageDown;
            }
          }
        }

        .seprator {
          width: 100%;
          fill: #1a222f;
        }

        .dataRow {
        }

        .dataPart {
          h3 {
            color: $dark-primary;

            &.delete_Btn {
              color: #e63f66;
            }
          }

          h4 {
            color: $dark-tertiary;
          }
        }
      }
    }
  }
}

// new dca
.dca__list {
  width: 100%;
  background-color: $light-box-bg;
  border-radius: 15px;

  margin-top: 2rem;
  padding: 1.5rem 1rem;
  width: 100%;
  .empty_history {
    text-align: center;
    img {
      width: 12rem;
      height: 12rem;
    }
    p {
      font-weight: 500;
      font-size: 12px;
      color: $light-primary;
    }
  }
  .header {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% 20%;
    margin: 0;
    font-weight: 600;
    color: $light-secondary;
    font-size: 1.3rem;
    justify-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #d9d9d9;

    .buyingDesktop {
      display: none;
    }
  }

  .position {
    background: none;
    border-bottom: 1px solid #d9d9d9;
    border-radius: 0;
    box-shadow: none;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% 20%;
    justify-items: center;
    align-items: center;
    padding: 0;
    color: $light-primary;
    padding: 1rem 0;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 0;

    .sellingToken {
      // display: flex;
      // gap: 1rem;
      // align-items: center;
      img {
        width: 26px;
        height: 26px;
      }

      h3 {
        font-weight: 500;
        font-size: 1.2rem;
      }
    }

    .position__delete {
      button {
        background: none;
        border: none;
        padding: 4px 8px;
        background-color: #c5163f;
        border-radius: 5px;
        color: $light-box-bg;
        cursor: pointer;
      }
    }
  }

  .position:hover {
    background-color: rgba(12, 16, 28, 0.06);
  }
  &.dark {
    background-color: $dark-box-bg;
    p {
      color: $dark-primary;
    }
    .header {
      color: $dark-secondary;
    }
    .position {
      color: $dark-primary;
    }
  }
}

.DcaCreation {
  .dcaBox {
    width: 100%;
    background-color: $light-box-bg;
    border-radius: $border-radius;
    border: 1px solid $light-border;
    margin-top: 2rem;
    padding: 1.5rem 1rem;

    .title {
      font-weight: 700;
      color: $light-primary;
      font-size: 1.6rem;
      margin-bottom: 1rem;
    }

    .infoAndClearAll {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0.5rem 0;

      p {
        font-weight: 500;
        font-size: 1.2rem;
        color: $light-primary;

        span {
          color: $light-percentageUP;
        }
      }

      button {
        color: $light-secondary;
        font-weight: 600;
        font-size: 1.4rem;
        background: none;
        border: none;
      }
    }

    .buyToken {
      display: flex;
      align-items: center;
      margin: 1rem 0;

      .token {
        width: 90%;
        display: flex;
        align-items: center;
        background: $light-bg;
        padding: 0 0.7rem;
        border-radius: 10px;

        .tokenInfo {
          display: flex;
          align-items: center;
          gap: 1rem;
          width: 30%;

          img {
            width: 28px;
            height: 28px;
          }

          h2 {
            text-transform: capitalize;
          }
        }

        .tokenPercentage {
          width: 70%;

          input {
            width: 100%;
            background: none;
            padding: 1.3rem 0.5rem;
            text-align: center;
            outline: none;
          }

          input:focus {
            border: none;
          }
        }

        .Percentage {
          font-weight: 700;
          font-size: 1.4rem;
          color: $light-secondary;
        }
      }

      svg {
        width: 10%;
        fill: $light-percentageDown;
      }
    }
    .noToken {
      width: 100%;
      text-align: center;
      img {
        width: 12rem;
        height: 12rem;
      }
      p {
        font-weight: 500;
        font-size: 1.2rem;
        color: $light-primary;
      }
    }

    .seprator {
      background-color: $light-tertiary;
      margin: 1.5rem auto;
      width: 90%;
      height: 1px;
    }

    .smallTitle {
      font-weight: 700;
      color: $light-tertiary;
      font-size: 1.3rem;
      margin: 0.5rem 0 1rem 0;
    }

    .monthDate {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      h4 {
        font-weight: 700;
        color: $light-primary;
        font-size: 1.3rem;
        width: 40%;
      }

      .localTimeInputs {
        border-radius: 10px;
        background-color: $light-bg;
        display: flex;
        align-items: center;
        width: 60%;

        input {
          background: none;
          padding: 1rem 0;
          width: 100%;
          text-align: center;
          font-weight: 600;
          font-size: 1.3rem;
          outline: none;
        }
      }
    }

    .weekdays {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 0.8rem;
      justify-items: center;

      .weekday {
        padding: 1rem 0;
        border: 1px solid $light-secondary;
        width: 100%;
        text-align: center;
        border-radius: 10px;
        font-weight: 600;
        font-size: 1.2rem;
      }

      .weekday.active {
        border: 1px solid $light-secondary;
        background-color: $light-secondary;
        color: $light-box-bg;
      }
    }

    .localTime {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      h4 {
        font-weight: 700;
        color: $light-primary;
        font-size: 1.3rem;
        width: 30%;
      }

      .localTimeInputs {
        border-radius: 10px;
        background-color: $light-bg;
        display: flex;
        align-items: center;
        width: 50%;

        .localTime_seprator {
          width: 20%;
          text-align: center;
          font-weight: 600;
          font-size: 1.3rem;
        }

        input {
          background: none;
          padding: 1rem 0;
          width: 40%;
          text-align: center;
          font-weight: 600;
          font-size: 1.3rem;
        }
      }
    }

    .smallTimeLine {
      margin: 1rem 0;
      font-weight: 500;
      font-size: 1rem;
    }

    .reviewBTN {
      margin-top: 1rem;
      @include button-responsive(mobile);
      width: 100%;
      border-radius: 10px;
      padding: 1rem 0;
    }
  }

  .reviewDca {
    padding: 0 0.3rem;
    // h3 {
    //     font-family: Poppins;
    //     font-size: 16px;
    //     font-style: normal;
    //     font-weight: 500;
    //     line-height: normal;
    //     color: $light-primary;
    //     margin: 0.5rem 0 1rem 0;
    // }
    .logoContainer {
      // display: flex;
      // justify-content: flex-start;
      // align-items: center;
      //
      // gap: 1rem;
      // margin: 2rem 0;

      .sellToken {
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
          width: 2.5rem;
          height: 2.5rem;
        }
        p {
          color: $light-primary;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;

          line-height: normal;
        }
      }
      img {
        width: 2.5rem;
        height: 2.5rem;
      }
      .buyTokens {
        display: flex;
        flex-wrap: wrap;

        // grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        gap: 1.5rem;

        .tokenItem {
          display: flex;
          align-items: center;
          gap: 1rem;
          img {
            width: 2.5rem;
            height: 2.5rem;
          }
          p {
            color: $dark-primary;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;

            line-height: normal;
          }
        }
      }
      h3 {
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: $light-primary;
      }
      p {
        // width: 95%;
        color: $dark-primary;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        // line-height: normal;

        span {
          color: #00de3b;
        }
      }
    }
    .text {
      padding: 0 1rem;

      margin: 1rem 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .bulletContainer {
        width: 5%;

        svg {
          width: 6px;
          height: 6px;
        }
      }

      p {
        // width: 95%;
        color: #14172cb3;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        // line-height: normal;

        span {
          color: #00de3b;
        }
      }
    }

    .revieweDcaBTNContinaer {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 1rem;

      button {
        @include button-responsive(mobile);
        width: 100%;
        border-radius: 10px;
        padding: 1rem 0;
        margin-top: 1rem;
      }

      .confirm {
      }

      .edit {
        background-color: $light-tertiary;
      }
    }
  }

  &.dark {
    .dcaBox {
      background-color: $dark-box-bg;
      border: 1px solid $dark-border;
      .title {
        color: $dark-primary;
      }

      .infoAndClearAll {
        p {
          color: $dark-primary;

          span {
            color: $dark-percentageUP;
          }
        }

        button {
          color: $dark-secondary;
        }
      }

      .buyToken {
        .token {
          background: $dark-bg;

          .tokenInfo {
            img {
            }

            h2 {
              color: $dark-primary;
            }
          }

          .tokenPercentage {
            width: 70%;

            input {
              color: $dark-primary;
            }

            input:focus {
              border: none;
            }
          }

          .Percentage {
            color: $dark-secondary;
          }
        }

        svg {
          fill: $dark-percentageDown;
        }
      }
      .noToken {
        p {
          color: $dark-primary;
        }
      }

      .addTokenButton {
        img {
        }
      }

      .seprator {
        background-color: $dark-tertiary;
      }

      .smallTitle {
        color: $dark-tertiary;
      }

      .sellInput {
        background-color: $dark-bg;

        input {
          color: $dark-primary;
        }

        input:focus {
          // border: 1px solid $dark-secondary;
        }

        .inputSeprator {
          background-color: $dark-tertiary;
        }

        .sellTokenInfo {
          img {
          }

          h3 {
            color: $dark-primary;
          }

          svg {
            width: 25px;
            height: 25px;
            fill: $dark-primary;
          }
        }
      }

      .sellInputTrade {
        background-color: $dark-bg !important;

        input {
          border-radius: 10px;
          background-color: $dark-bg !important;

          color: $dark-primary;
        }

        input:focus {
          // border: 1px solid $dark-secondary;
        }

        .inputSeprator {
          background-color: $dark-tertiary;
        }

        .sellTokenInfo {
          img {
          }

          h3 {
            color: $dark-primary;
          }

          svg {
            width: 25px;
            height: 25px;
            fill: $dark-primary;
          }
        }
      }

      // .cycle_container {
      //     .cycle {
      //         border: 1px solid $dark-secondary;
      //         color: $dark-primary;
      //     }

      //     .cycle.active {
      //         border: 1px solid $dark-secondary;
      //         background-color: $dark-secondary;
      //         color: $dark-primary;
      //     }
      // }

      .monthDate {
        h4 {
          color: $dark-primary;
        }

        .localTimeInputs {
          background-color: $dark-bg;

          input {
            color: $dark-primary;
          }
        }
      }

      .weekdays {
        .weekday {
          border: 1px solid $dark-secondary;
          color: $dark-primary;
        }

        .weekday.active {
          border: 1px solid $dark-secondary;
          background-color: $dark-secondary;
          color: $dark-primary;
        }
      }

      .localTime {
        h4 {
          color: $dark-primary;
        }

        .localTimeInputs {
          background-color: $dark-bg;

          .localTime_seprator {
          }

          input {
            color: $dark-primary;
          }
        }
      }

      .smallTimeLine {
        color: $dark-primary;
      }

      .reviewBTN {
      }
    }

    .reviewDca {
      h3 {
        color: $dark-primary;
      }

      .text {
        .bulletContainer {
          svg {
          }
        }

        p {
          color: #ffffffb3;

          span {
            color: #00de3b;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .DcaCreation {
    .dcaBox {
      width: 100%;
      background-color: $light-box-bg;
      border-radius: $border-radius;
      border: 1px solid $light-border;
      margin-top: 2rem;
      padding: 3rem 5rem;

      .flex {
        display: flex;
        gap: 5%;
        .creationContainer {
          width: 40%;

          position: relative;
          .title {
            font-weight: 700;
            color: $light-primary;
            font-size: 1.8rem;
            margin-bottom: 1rem;
          }

          .tokenSelectionTitle {
            display: grid;
            grid-template-columns: 1fr 0.1fr 1fr;
            align-items: center;
            gap: 1rem;
          }
          .tokenSelection {
            display: grid;
            grid-template-columns: 1fr 0.1fr 1fr;
            gap: 1rem;
            align-items: center;
            .tokenContainer {
              display: flex;
              align-items: center;
              justify-content: space-between;
              background-color: $light-bg;
              padding: 1rem 0.8rem;
              border-radius: $border-radius;
              cursor: pointer;
              img {
                width: 25px;
                height: 25px;
              }
              h1 {
                font-size: 1.4rem;
              }
              svg {
                width: 25px;
                height: 25px;
                fill: $light-secondary;
              }
            }
            .sellContainer {
            }
            .right-arrow {
              fill: $light-primary;
              width: 100%;
            }

            .buyContainer {
            }
          }
          .repetitionAndAmountContainer {
            margin-top: 2rem;
            .inputGroup {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              margin-top: 2rem;
              h4 {
                font-weight: 700;
                color: $light-primary;
                font-size: 1.5rem;
                width: 40%;
              }
              input {
                background: $light-bg;
                padding: 1rem 0;
                width: 50%;
                border-radius: 10px;
                text-align: center;
                font-weight: 600;
                font-size: 1.5rem;
                outline: none;
              }
            }
            .repetition {
            }
            .amount {
            }
          }

          .seprator {
            background-color: $light-tertiary;
            margin: 1.5rem auto;
            width: 95%;
            height: 1px;
          }

          .smallTitle {
            font-weight: 700;
            color: $light-primary;
            font-size: 1.5rem;
            margin: 0.5rem 0 1rem 0;
          }

          .cycle_container {
            width: 100%;
            display: grid;
            grid-template-columns: 31% 31% 31%;
            justify-content: space-between;
            justify-items: center;
            margin-bottom: 2rem;
            .cycle {
              padding: 1rem 0;
              // margin-bottom: 1rem;
              border: 1px solid $light-secondary;
              width: 100%;
              text-align: center;
              border-radius: 10px;
              font-weight: 600;
              font-size: 1.4rem;
              cursor: pointer;
              color: $light-primary;
            }

            .cycle.active {
              border: 1px solid $light-secondary;
              background-color: $light-secondary;
              color: $light-box-bg;
            }
          }

          .monthDate {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            h4 {
              font-weight: 700;
              color: $light-primary;
              font-size: 1.5rem;
              width: 40%;
            }

            .localTimeInputs {
              border-radius: 10px;
              background-color: $light-bg;
              display: flex;

              align-items: center;
              width: 50%;

              input {
                background: none;
                padding: 1rem 0;
                width: 100%;
                text-align: center;
                font-weight: 600;
                font-size: 1.5rem;
                outline: none;
              }
            }
          }

          .weekdays {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-gap: 1rem;
            justify-items: center;

            .weekday {
              padding: 1rem 0;
              border: 1px solid $light-secondary;
              width: 100%;
              text-align: center;
              border-radius: 10px;
              font-weight: 600;
              font-size: 1.4rem;
            }

            .weekday.active {
              border: 1px solid $light-secondary;
              background-color: $light-secondary;
              color: $light-box-bg;
            }
          }

          .localTime {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-top: 2rem;

            h4 {
              font-weight: 700;
              color: $light-primary;
              font-size: 1.5rem;
              width: 30%;
            }

            .localTimeInputs {
              border-radius: 10px;
              background-color: $light-bg;
              display: flex;
              align-items: center;
              width: 50%;

              .localTime_seprator {
                width: 20%;
                text-align: center;
                font-weight: 600;
                font-size: 1.5rem;
              }

              input {
                background: none;
                padding: 1rem 0;
                width: 40%;
                text-align: center;
                font-weight: 600;
                font-size: 1.5rem;
                outline: none;
              }
            }
          }

          .smallTimeLine {
            margin: 2rem 0;
            font-weight: 500;
            font-size: 1.3rem;
          }

          .reviewBTN {
            margin-top: 1rem;
            @include button-responsive(mobile);
            display: flex;
            border-radius: 10px;
            padding: 1rem;
            gap: 1rem;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            font-size: 1.5rem;
          }
          .reviewDca {
            padding: 0 0.3rem;
            position: absolute;
            width: 47%;
            bottom: 0;

            // border: 2px solid white;

            // h3 {
            //     font-family: Poppins;
            //     font-size: 18px;
            //     font-style: normal;
            //     font-weight: 500;

            //     line-height: normal;
            //     color: $light-primary;
            //     margin: 0rem 0rem 1rem 0rem;

            // }
            .logoContainer {
              // display: flex;
              // justify-content: flex-start;
              // align-items: center;
              //
              // gap: 1rem;
              // margin: 2rem 0;

              .sellToken {
                display: flex;
                align-items: center;
                gap: 1rem;

                img {
                  width: 2.5rem;
                  height: 2.5rem;
                }
                p {
                  color: $light-primary;
                  font-family: Poppins;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 500;

                  line-height: normal;
                }
              }
              img {
                width: 2.5rem;
                height: 2.5rem;
              }
              .buyTokens {
                display: flex;
                flex-wrap: wrap;

                // grid-template-columns: 1fr 1fr 1fr 1fr;
                align-items: center;
                gap: 1.5rem;

                .tokenItem {
                  display: flex;
                  align-items: center;
                  gap: 1rem;
                  img {
                    width: 2.5rem;
                    height: 2.5rem;
                  }
                  p {
                    color: $dark-primary;
                    font-family: Poppins;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;

                    line-height: normal;
                  }
                }
              }
              h3 {
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                color: $light-primary;
              }
              p {
                // width: 95%;
                color: $light-primary;
                font-family: Poppins;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                // line-height: normal;

                span {
                  color: #00de3b;
                }
              }
            }

            .revieweDcaBTNContinaer {
              width: 100%;
              display: flex;
              gap: 1rem;

              button {
                @include button-responsive(laptop);
                width: 80%;
                border-radius: 10px;
                padding: 1rem 0;
                margin-top: 1rem;
                font-size: 1.5rem;
                font-weight: 600;
              }

              .confirm {
              }

              .edit {
                background-color: $light-tertiary;
              }
            }
          }
        }
        .reviewDca {
          width: 50%;
          .title {
            font-weight: 700;
            color: $light-primary;
            font-size: 1.8rem;
            margin-bottom: 1rem;
          }
          .explanation {
            font-size: 1.4rem;
          }
        }
      }
    }

    &.dark {
      .dcaBox {
        background-color: $dark-box-bg;
        border: 1px solid $dark-border;
      }

      .dcaBox {
        background-color: $dark-box-bg;

        .creationContainer {
          .title {
            color: $dark-primary !important;
          }

          .infoAndClearAll {
            p {
              color: $dark-primary !important;

              span {
                color: $dark-percentageUP !important;
              }
            }

            button {
              color: $dark-secondary !important;
            }
          }
          .tokensContainer {
          }

          .buyToken {
            .token {
              background: $dark-bg !important;

              .tokenInfo {
                img {
                }

                h2 {
                  color: $dark-primary !important;
                }
              }

              .tokenPercentage {
                input {
                  color: $dark-primary !important;
                }

                input:focus {
                  border: none;
                }
              }

              .Percentage {
                color: $dark-secondary !important;
              }
            }

            svg {
              fill: $dark-percentageDown !important;
            }
          }
          .noToken {
            p {
              color: $dark-primary;
            }
          }

          .addTokenButton {
            img {
            }
          }

          .seprator {
            background-color: $dark-tertiary !important;
          }

          .smallTitle {
            color: $dark-tertiary !important;
          }

          .sellInput {
            background-color: $dark-bg !important;
            border: 1px solid $dark-secondary !important;

            input {
              color: $dark-primary !important;
            }

            input:focus {
              // border: 1px solid $dark-secondary;
            }

            .inputSeprator {
              background-color: $dark-tertiary !important;
            }

            .sellTokenInfo {
              img {
              }

              h3 {
                color: $dark-primary !important;
              }

              svg {
                fill: $dark-primary !important;
              }
            }
          }

          .cycle_container {
            .cycle {
              border: 1px solid $dark-secondary !important;
              color: $dark-primary !important;
            }

            .cycle.active {
              border: 1px solid $dark-secondary !important;
              background-color: $dark-secondary !important;
              color: $dark-primary !important;
            }
          }
          //    .cycle_container {
          //         .selected_cycle {
          //             background-color: $dark-bg;
          //             p {
          //                 color: $dark-primary;
          //             }
          //         }
          //         .options_container {
          //             background-color: $dark-bg;
          //             .option {
          //                 color: $dark-primary;
          //                 &:hover {
          //                     background-color: $dark-tertiary;
          //                 }
          //             }
          //         }
          //     }

          .monthDate {
            h4 {
              color: $dark-primary !important;
            }

            .localTimeInputs {
              background-color: $dark-bg !important;

              input {
                color: $dark-primary !important;
              }
            }
          }

          .weekdays {
            .weekday {
              border: 1px solid $dark-secondary !important;
              color: $dark-primary !important;
            }

            .weekday.active {
              border: 1px solid $dark-secondary !important;
              background-color: $dark-secondary !important;
              color: $dark-primary !important;
            }
          }

          .localTime {
            h4 {
              color: $dark-primary !important;
            }

            .localTimeInputs {
              background-color: $dark-bg !important;

              .localTime_seprator {
              }

              input {
                color: $dark-primary !important;
              }
            }
          }

          .smallTimeLine {
            color: $dark-primary !important;
          }

          .reviewBTN {
          }
          .reviewDca {
            .logoContainer {
              p {
                color: $dark-primary;
              }
            }
          }
        }
      }
    }
  }

  .dca__list {
    width: 100%;
    background-color: $light-box-bg;
    border-radius: 15px;

    margin-top: 2rem;
    padding: 3rem 5rem;
    width: 100%;
    .empty_history {
      text-align: center;
      img {
        width: 12rem;
        height: 12rem;
      }
      p {
        font-weight: 500;
        font-size: 15px;
        color: $light-primary;
      }
    }
    .header {
      width: 100%;
      display: grid;
      grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
      margin: 0;
      font-weight: 600;
      color: $light-secondary;
      font-size: 1.6rem;
      justify-items: center;
      padding-bottom: 1rem;
      border-bottom: 1px solid #d9d9d9;

      .buyingDesktop {
        display: block;
      }
    }

    .position {
      background: none;
      border-bottom: 1px solid #d9d9d9;
      border-radius: 0;
      box-shadow: none;
      display: grid;
      grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
      justify-items: center;
      align-items: center;

      img {
        width: 26px;
        height: 26px;
      }

      h3 {
        font-weight: 500;
        font-size: 1.2rem;
      }

      p {
      }
    }

    .position__delete {
      button {
        background: none;
        border: none;
        padding: 4px 8px;
        background-color: #c5163f;
        border-radius: 5px;
        color: $light-box-bg;
        cursor: pointer;
      }
    }

    .position__buyingDesktop {
      display: flex !important;
      gap: 0.2rem;
      align-items: center;

      img {
        width: 18px;
        height: 18px;
      }
    }

    &.dark {
      background-color: $dark-box-bg;

      p {
        color: $dark-primary;
      }
      .header {
        color: $dark-secondary;

        border-bottom: 1px solid #d9d9d9;
      }

      .position {
        box-shadow: none;
        border-bottom: 1px solid #d9d9d9;

        color: $dark-primary;

        .sellingToken {
          img {
            width: 26px;
            height: 26px;
          }

          h3 {
          }
        }
      }
    }
  }
}

.addTokenModal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  .topSection {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    width: 100%;
    .backBTN {
      background: none;
      color: $light-primary;
      cursor: pointer;

      svg {
        fill: none;
        width: 16px;
        height: 16px;
      }
    }
    .closeBTN {
      background: none;
      color: $light-primary;
      svg {
        fill: none;
        width: 16px;
        height: 16px;
      }
    }
    .title {
      text-align: center;
      font-weight: 700;
      color: $light-primary;
      font-size: 1.5rem;
    }
  }
  .searchContainer {
    margin-top: 1rem;
    border: 1px solid $light-border;
    width: 90%;
    padding: 1rem;
    display: flex;
    align-items: center;
    border-radius: $border-radius;
    background-color: $light-box-bg;
    gap: 1rem;
    .searchIcon {
      fill: $light-secondary;
    }
    input {
      color: $light-primary;
      font-size: 1.2rem;
      background: none;
      width: 100%;
      outline: none;
      &::placeholder {
        color: $light-placeholder;
        font-size: 1.2rem;
      }
    }
  }
  .seprator {
    width: 100%;
    height: 2px !important;
    background-color: $light-border;
    margin: 1rem 0;
    margin-bottom: 2rem;
  }
  .tokens {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    overflow-y: scroll;

    .token {
      cursor: pointer;
      display: flex;
      gap: 1.2rem;
      align-items: center;
      background-color: $light-box-bg;
      border-radius: $border-radius;
      padding: 0.7rem 1.6rem;
      .token_info {
        display: flex;
        align-items: center;
        gap: 1.2rem;
        .token_logo {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 1px solid rgba(0, 0, 0, 0.1);
        }
        .token_details {
          .token_name {
            color: $light-primary;
            font-size: 1.2rem;
          }
          .token_symbol {
            color: $light-secondary;
            font-size: 1rem;
          }
        }
      }

      .token_balance {
      }
    }
    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: #e4e4e4;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
      background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
      box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
      border-radius: 20px;
    }
  }

  &.dark {
    .topSection {
      .backBTN {
        color: $dark-primary;

        svg {
        }
      }
      .closeBTN {
        color: $dark-primary;
        svg {
        }
      }
      .title {
        color: $dark-primary;
      }
    }
    .seprator {
      background-color: $dark-tertiary;
    }
  }
}
@media screen and (min-width: 1024px) {
  .addTokenModal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow-y: hidden;
    .topSection {
      display: grid;
      grid-template-columns: 0.5fr 1fr 0.5fr;
      width: 100%;
      .backBTN {
        background: none;
        color: $light-primary;
        cursor: pointer;

        svg {
          fill: none;
          width: 20px;
          height: 20px;
        }
      }
      .closeBTN {
        background: none;
        cursor: pointer;
        color: $light-primary;
        svg {
          fill: none;
          width: 20px;
          height: 20px;
        }
      }
      .title {
        text-align: center;
        font-weight: 700;
        color: $light-primary;
        font-size: 1.7rem;
      }
    }
    .searchContainer {
      margin-top: 1rem;
      border: 1px solid $light-border;
      width: 90%;
      padding: 1rem;
      display: flex;
      align-items: center;
      border-radius: $border-radius;
      background-color: $light-box-bg;
      gap: 1rem;
      .searchIcon {
        width: 25px;
        height: 25px;
        fill: $light-secondary;
      }
      input {
        color: $light-primary;
        font-size: 1.5rem;
        background: none;
        width: 100%;
        outline: none;
        &::placeholder {
          color: $light-placeholder;
          font-size: 1.5rem;
        }
      }
    }
    .seprator {
      width: 100%;
      height: 2px !important;
      background-color: $light-tertiary;
      margin: 1rem 0;
      margin-bottom: 2rem;
    }
    .tokens {
      width: 90%;
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      overflow-y: scroll;

      .token {
        cursor: pointer;
        display: flex;
        gap: 1.2rem;
        align-items: center;
        background-color: $light-box-bg;
        border-radius: $border-radius;
        padding: 0.7rem 1.6rem;
        .token_info {
          display: flex;
          align-items: center;
          gap: 1.2rem;
          .token_logo {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid rgba(0, 0, 0, 0.1);
          }
          .token_details {
            .token_name {
              color: $light-primary;
              font-size: 1.3rem;
            }
            .token_symbol {
              color: $light-secondary;
              font-size: 1.1rem;
            }
          }
        }

        .token_balance {
        }
      }

      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        background-color: #e4e4e4;
        border-radius: 20px;
      }

      &::-webkit-scrollbar-thumb {
        background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
        box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
        border-radius: 20px;
      }
    }

    &.dark {
      .topSection {
        .backBTN {
          color: $dark-primary;
          svg {
          }
        }
        .closeBTN {
          color: $dark-primary;
          svg {
          }
        }
        .title {
          color: $dark-primary;
        }
      }
      .seprator {
        background-color: $dark-tertiary;
      }
    }
  }
}

.dca__page {
  .titleAndHeader {
    .header {
      width: unset !important;
    }
  }

  .headerSwitcher {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    width: 100%;

    .statusChanger {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      button {
        background: none;
        cursor: pointer;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: $dark-bg;
        padding: 1rem;
      }

      button.active {
        background-color: $light-secondary;
        color: $light-primary;
        border-radius: $border-radius;
      }
    }
  }
  &.dark {
    .headerSwitcher {
      .statusChanger {
        button {
          color: $dark-primary;
        }
        button.active {
          background-color: $dark-secondary;
          color: $dark-bg;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .dca__page {
    .titleAndHeader {
      .header {
        width: unset !important;
      }
    }

    .headerSwitcher {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 2rem;
      width: 100%;

      .statusChanger {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;

        button {
          background: none;
          cursor: pointer;
          font-family: Poppins;
          font-size: 1.5rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          color: $light-primary;
          padding: 1rem 1.5rem;
        }

        button.active {
          background-color: $light-secondary;
          color: $dark-primary;
          border-radius: $border-radius;
        }
      }
    }
    &.dark {
      .headerSwitcher {
        .statusChanger {
          button {
            color: $dark-primary;
          }
          button.active {
            background-color: $dark-secondary;
            color: $dark-primary;
          }
        }
      }
    }
  }
}

