.mainPage{
    .headerSwitcher {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        width: 100%;
    
        .statusChanger {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
    
            button {
                background: none;
                cursor: pointer;
                font-family: Poppins;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                color: $light-tertiary;
                padding: 1rem;
            }
    
            button.active {
                background-color: $light-secondary;
                color: $light-primary;
                border-radius: 12px;
            }
        }
       
    }
    &.dark{
        .headerSwitcher {
        
            .statusChanger {
              
                button {
                  
                    color: $dark-tertiary;
                   
                }
        
                button.active {
                    background-color: $dark-secondary;
                    color: $dark-primary;
                    
                }
            }
          
    }
    }

}
.history_list{
    width: 100%;
    background-color: $light-box-bg;
    border-radius: 15px;
    box-shadow: 0 2px 26px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    padding: 1.5rem 1rem;
    width: 100%;
    .empty_history{
         text-align: center;
        img {
            width: 12rem;
            height: 12rem;
        }
        p {
            font-weight: 500;
            font-size: 12px;
            color: $light-primary;
        }
    }
   
    &.dark{
        background-color: $dark-box-bg;
        .empty_history{
            p{
                color: $dark-primary;
            }
        }
    }
}

@media screen and (min-width:1024px) {
    
    .mainPage{
        // padding-top:0rem;
    // position: relative;
        .headerSwitcher {
            display: flex;
            // position: relative;
            justify-content: space-between;
            align-items: center;
            margin-top: 2rem;
            width: 100%;

            .statusChanger {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1.5rem;

                button {
                    background: none;
                    cursor: pointer;
                    font-family: Poppins;
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    color: $light-tertiary;
                    padding: 1rem 1.5rem;
                }

                button.active {
                    background-color: $light-secondary;
                    color: $dark-primary;
                }
            }
        
        }
        &.dark{
            .headerSwitcher {
            
                .statusChanger {
                  
                    button {
                      
                        color: $dark-tertiary;
                       
                    }
            
                    button.active {
                        background-color: $dark-secondary;
                        color: $dark-primary;
                        
                    }
                }
            
        }
        }
    }
       
        .history_list{
            width: 100%;
            background-color: $light-box-bg;
            border-radius: 15px;
            box-shadow: 0 2px 26px rgba(0, 0, 0, 0.1);
            margin-top: 2rem;
            padding: 3rem 5rem;
            width: 100%;
       .empty_history{
         text-align: center;
        img {
            width: 12rem;
            height: 12rem;
        }
        p {
            font-weight: 500;
            font-size: 15px;
            color: $light-primary;
        }
    }
            &.dark{
                background-color: $dark-box-bg;
                p{
                    color: $dark-primary;
                }
            }
        } 

    }


    

