.VaultDescription {
    background-color: $light-box-bg;
    // margin-top: 3rem;
    padding: 2rem 1rem;
    // border-radius: 15px;
    margin: auto;
    // box-shadow: 0 2px 26px rgba(0, 0, 0, 0.1);
    .vaultDetailsContainer {
       
       
        // Card styling
      .card {
        width: 100%;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        margin-bottom: 2rem;
        // Allocation item styling
      .rowItem {
        display: flex;
        justify-content: space-between;
        padding: 0rem 0.5rem;
        // margin-bottom: 10px;
        h2 {
            color: $light-primary;
            font-family: Poppins;
            font-size: 1.2rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-bottom: 0px;
    
           
        }
        .title {
            font-size: 1.3rem;
        }
        p {
            color: $dark-tertiary;
            font-family: Poppins;
            font-size: 1.3rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 0px;
        }
      }
      .chart {
        display: flex;
        justify-content: center;
      }
    
      // Add your pie chart styling here (replace with your actual pie chart styling)
      .pieChart {
        width: 100%;
        height: 200px;
      }
      }
      
      
      
      
      
      
        // Add more styling as needed for your specific pie chart library or component
      }
    .vault__info {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0 1rem 1rem 1rem;
        img {
            width: 35px;
            height: 35px;
        }
        .text__holder {
            .nameAndSymbol {
                display: flex;
                gap: 1rem;
                align-items: center;

                h3 {
                    color: $light-primary;
                    font-family: Poppins;
                    font-size: 21px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
                h4 {
                    color: $light-tertiary;
                    font-family: Poppins;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
            .changes {
                margin-top: 0.5rem;
                display: flex;
                gap: 1rem;
                align-items: center;
                .price {
                    color: $light-tertiary;
                    font-family: Inter;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
                .percentage {
                    color: $light-box-bg;
                    font-family: Inter;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    padding: 0.5rem 1rem;
                    border-radius: 15px;
                }
                .percentage.Up {
                    background-color: $light-percentageUP;
                }
                .percentage.Down {
                    background-color: $light-percentageDown;
                }
            }
        }
        border-bottom: 1px solid #d9d9d9;
    }
    .vault__description {
        margin-top: 1rem;
        color: $light-primary;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &.dark {
        background-color: $dark-box-bg;
        box-shadow: 0 2px 26px rgba(255, 255, 255, 0.1);
        .vaultDetailsContainer {
       
            // Card styling
          .card {
          
            // Allocation item styling
          .rowItem {
            display: flex;
            justify-content: space-between;
            padding: 0rem 0.5rem;
            // margin-bottom: 10px;
            h2 {
                color: $dark-primary;
                font-family: Poppins;
                font-size: 1.2rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                margin-bottom: 0px;
        
               
            }
            .title {
                font-size: 1.3rem;
            }
            p {
                color: $dark-tertiary;
                font-family: Poppins;
                font-size: 1.3rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 0px;
            }
          }
        
          // Add your pie chart styling here (replace with your actual pie chart styling)
          .pieChart {
            width: 100%;
            height: 200px;
          }
          }
          
          
          
          
          
          
            // Add more styling as needed for your specific pie chart library or component
          }
        .vault__info {
            img {
            }
            .text__holder {
                .nameAndSymbol {
                    h3 {
                        color: $dark-primary;
                    }
                    h4 {
                        color: $dark-tertiary;
                    }
                }
                .changes {
                    .price {
                        color: $dark-tertiary;
                    }
                    .percentage {
                        color: $dark-box-bg;
                    }
                    .percentage.Up {
                        background-color: $dark-percentageUP;
                    }
                    .percentage.Down {
                        background-color: $dark-percentageDown;
                    }
                }
            }
            border-bottom: 1px solid #d9d9d9;
        }
        .vault__description {
            color: $dark-primary;
        }
    }
}

.invesInVault {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    button {
        width: 80%;
        @include button-responsive(mobile);
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}

.VaultSummary {
    background-color: $light-box-bg;
    margin-top: 3rem;
    padding: 1.5rem 1rem;
    border-radius: 15px;
    box-shadow: 0 2px 26px rgba(0, 0, 0, 0.1);
    .data {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 0.5rem;
        border-bottom: 1px solid #d9d9d9;
        .parameter {
            color: $light-primary;
            font-family: Poppins;
            font-size: 12px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
        .value {
            color: $light-primary;
            font-family: Poppins;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    .data:last-child {
        border-bottom: none;
        padding-bottom: none;
    }
    &.dark {
        background-color: $dark-box-bg;

        box-shadow: 0 2px 26px rgba(255, 255, 255, 0.1);
        .data {
            
            border-bottom: 1px solid #d9d9d9;
            .parameter {
                color: $dark-primary;
                
            }
            .value {
                color: $dark-primary;
               
            }
        }
        .data:last-child {
            border-bottom: none;
        }
    }
}

.VaultCoins {
    .timePeriods {
        display: flex;
        align-items: center;
        .timePeriod {
            margin: 0 1rem;
            color: $light-tertiary;
            @include text(mobile);
            font-size: 11px;
        }
        .timePeriod.active {
            background-color: $light-secondary;
            padding: 3px 10px;
            border-radius: 15px;
            color: $light-box-bg;
            font-weight: 700;
        }
    }
    .coins {
        background-color: $light-box-bg;
        margin-top: 3rem;
        padding: 1.5rem 1rem;
        border-radius: 15px;
        box-shadow: 0 2px 26px rgba(0, 0, 0, 0.1);

        .coin {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.5rem 1rem;
            border-bottom: 1px solid #d9d9d9;

            .coin__details {
                display: flex;
                align-items: center;
                gap: 1rem;
                img {
                    width: 28px;
                    height: 28px;
                }
                .texts {
                    .nameAndSymbol {
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        h3 {
                            color: $light-primary;
                            font-family: Poppins;
                            font-size: 13px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                        }
                        h4 {
                            color: $light-tertiary;
                            font-family: Poppins;
                            font-size: 11px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }
                    .changes {
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        .price {
                            color: $light-tertiary;
                            font-family: Inter;
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                        .percentage {
                            font-family: Inter;
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            color: $light-tertiary;
                        }
                        .percentage.Up {
                            color: $light-percentageUP;
                        }
                        .percentage.Down {
                            color: $light-percentageDown;
                        }
                    }
                }
            }
            .coin__share {
                color: $light-primary;
                font-family: Inter;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
        .coin:last-child {
            border-bottom: none;
            padding-bottom: none;
        }
    }

    &.dark {
        .timePeriods {
            .timePeriod {
                color: $dark-tertiary;
            }
            .timePeriod.active {
                background-color: $dark-secondary;
                color: $dark-box-bg;
            }
        }
        .coins {
            background-color: $dark-box-bg;

            box-shadow: 0 2px 26px rgba(255, 255, 255, 0.1);

            .coin {
                border-bottom: 1px solid #d9d9d9;

                .coin__details {
                    img {
                    }
                    .texts {
                        .nameAndSymbol {
                            h3 {
                                color: $dark-primary;
                            }
                            h4 {
                                color: $dark-tertiary;
                            }
                        }
                        .changes {
                            .price {
                                color: $dark-tertiary;
                            }
                            .percentage {
                                color: $dark-tertiary;
                            }
                            .percentage.Up {
                                color: $dark-percentageUP;
                            }
                            .percentage.Down {
                                color: $dark-percentageDown;
                            }
                        }
                    }
                }
                .coin__share {
                    color: $dark-primary;
                }
            }
            .coin:last-child {
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .VaultDescription {
        background-color: $light-box-bg;
        padding: 0rem 3rem;
        .vaultDetailsContainer {
            display: grid;
            grid-template-columns: 35% 35% 30%;
              
        
            // Card styling
          .card {
            padding: 1.2rem;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
           
            // Allocation item styling
          .rowItem {
            display: flex;
            justify-content: space-between;
            padding: 0rem 0.5rem;
            // margin-bottom: 10px;
            h2 {
                color: $light-primary;
                font-family: Poppins;
                font-size: 1.2rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                margin-bottom: 0px;
        
               
            }
            .title {
                font-size: 1.3rem;
            }
            p {
                color: $light-tertiary;
                font-family: Poppins;
                font-size: 1.3rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 0px;
            }
          }
          .chart {
            display: flex;
            justify-content: center;
          }
            // Add your pie chart styling here (replace with your actual pie chart styling)
          // Add your pie chart styling here (replace with your actual pie chart styling)
          .pieChart {
            width: 100%;
            height: 200px;
          }
          }
            // Add more styling as needed for your specific pie chart library or component
          }
        .vault__info {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;
            padding: 0 1rem 1rem 1rem;
            img {
                width: 40px;
                height: 40px;
            }
            .text__holder {
                .nameAndSymbol {
                    display: flex;
                    gap: 1.5rem;
                    align-items: center;

                    h3 {
                        color: $light-primary;
                        font-family: Poppins;
                        font-size: 25px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }
                    h4 {
                        color: $light-tertiary;
                        font-family: Poppins;
                        font-size: 19px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
                .changes {
                    margin-top: 0rem;
                    display: flex;
                    gap: 1.5rem;
                    align-items: center;
                    .price {
                        color: $light-tertiary;
                        font-family: Inter;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                    .percentage {
                        color: $light-box-bg;
                        font-family: Inter;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        padding: 0.5rem 1rem;
                        border-radius: 15px;
                    }
                    .percentage.Up {
                        background-color: $light-percentageUP;
                    }
                    .percentage.Down {
                        background-color: $light-percentageDown;
                    }
                }
            }
            border-bottom: 1px solid #d9d9d9;
        }
        .vault__description {
            padding: 0 1rem;
            margin-top: 2rem;
            color: $light-primary;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        &.dark {
            background-color: $dark-box-bg;

            // box-shadow: 0 2px 26px rgba(255, 255, 255, 0.1);
            .vaultDetailsContainer {
                display: grid;
                grid-template-columns: 35% 35% 30%;
                  
            
                // Card styling
              .card {
                padding: 1.2rem;
                
               
                // Allocation item styling
              .rowItem {
                display: flex;
                justify-content: space-between;
                padding: 0rem 0.5rem;
                // margin-bottom: 10px;
                h2 {
                    color: $dark-primary;
                    font-family: Poppins;
                    font-size: 1.2rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    margin-bottom: 0px;
            
                   
                }
                .title {
                    font-size: 1.3rem;
                }
                p {
                    color: $dark-tertiary;
                    font-family: Poppins;
                    font-size: 1.3rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin-bottom: 0px;
                }
              }
              .chart {
                display: flex;
                justify-content: center;
              }
                // Add your pie chart styling here (replace with your actual pie chart styling)
              // Add your pie chart styling here (replace with your actual pie chart styling)
              .pieChart {
                width: 100%;
                height: 200px;
              }
              }
                // Add more styling as needed for your specific pie chart library or component
              }
            .vault__info {
                img {
                }
                .text__holder {
                    .nameAndSymbol {
                        h3 {
                            color: $dark-primary;
                        }
                        h4 {
                            color: $dark-tertiary;
                        }
                    }
                    .changes {
                        .price {
                            color: $dark-tertiary;
                        }
                        .percentage {
                            color: $dark-box-bg;
                        }
                        .percentage.Up {
                            background-color: $dark-percentageUP;
                        }
                        .percentage.Down {
                            background-color: $dark-percentageDown;
                        }
                    }
                }
                border-bottom: 1px solid #d9d9d9;
            }
            .vault__description {
                color: $dark-primary;
            }
        }
    }

    .invesInVault {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0 5rem;
        margin-top: 3rem;
        button {
            margin: 1rem;
            width: 80%;
            @include button-responsive(laptop);
        }
    }

    .VaultSummary {
        background-color: $light-box-bg;
        margin-top: 3rem;
        padding: 1.5rem 1rem;
        border-radius: 15px;
        box-shadow: 0 2px 26px rgba(0, 0, 0, 0.1);
        .data {
            display: flex;
            justify-content: space-between;
            padding: 2rem 1rem;
            border-bottom: 1px solid #d9d9d9;
            .parameter {
                color: $light-primary;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
            }
            .value {
                color: $light-primary;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
        .data:last-child {
            border-bottom: none;
            padding-bottom: none;
        }
        &.dark {
            background-color: $dark-box-bg;

            box-shadow: 0 2px 26px rgba(255, 255, 255, 0.1);
            .data {
                border-bottom: 1px solid #d9d9d9;
                .parameter {
                    color: $dark-primary;
                }
                .value {
                    color: $dark-primary;
                }
            }
            .data:last-child {
                border-bottom: none;
            }
        }
    }

    .VaultCoins {
        .timePeriods {
            display: flex;
            align-items: center;
            .timePeriod {
                margin: 0 1.5rem;
                color: $light-tertiary;
                @include text(mobile);
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
            }
            .timePeriod.active {
                background-color: $light-secondary;
                padding: 3px 10px;
                border-radius: 17px;
                color: $light-box-bg;
                font-weight: 700;
            }
        }
        .coins {
            background-color: $light-box-bg;
            margin-top: 3rem;
            padding: 1.5rem 1rem;
            border-radius: 15px;
            box-shadow: 0 2px 26px rgba(0, 0, 0, 0.1);

            .coin {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1.5rem 1rem;
                border-bottom: 1px solid #d9d9d9;

                .coin__details {
                    display: flex;
                    align-items: center;
                    gap: 1.5rem;
                    img {
                        width: 35px;
                        height: 35px;
                    }
                    .texts {
                        .nameAndSymbol {
                            display: flex;
                            align-items: center;
                            gap: 1.5rem;
                            h3 {
                                color: $light-primary;
                                font-family: Poppins;
                                font-size: 17px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: normal;
                            }
                            h4 {
                                color: $light-tertiary;
                                font-family: Poppins;
                                font-size: 15px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                            }
                        }
                        .changes {
                            display: flex;
                            align-items: center;
                            gap: 1.5rem;
                            .price {
                                color: $light-tertiary;
                                font-family: Inter;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                            }
                            .percentage {
                                font-family: Inter;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                color: $light-tertiary;
                            }
                            .percentage.Up {
                                color: $light-percentageUP;
                            }
                            .percentage.Down {
                                color: $light-percentageDown;
                            }
                        }
                    }
                }
                .coin__share {
                    color: $light-primary;
                    font-family: Inter;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
            .coin:last-child {
                border-bottom: none;
                padding-bottom: none;
            }
        }

        &.dark {
            .timePeriods {
                .timePeriod {
                    color: $dark-tertiary;
                }
                .timePeriod.active {
                    background-color: $dark-secondary;

                    color: $dark-box-bg;
                }
            }
            .coins {
                background-color: $dark-box-bg;

                box-shadow: 0 2px 26px rgba(255, 255, 255, 0.1);

                .coin {
                    border-bottom: 1px solid #d9d9d9;

                    .coin__details {
                        img {
                        }
                        .texts {
                            .nameAndSymbol {
                                h3 {
                                    color: $dark-primary;
                                }
                                h4 {
                                    color: $dark-tertiary;
                                }
                            }
                            .changes {
                                .price {
                                    color: $dark-tertiary;
                                }
                                .percentage {
                                    color: $dark-tertiary;
                                }
                                .percentage.Up {
                                    color: $dark-percentageUP;
                                }
                                .percentage.Down {
                                    color: $dark-percentageDown;
                                }
                            }
                        }
                    }
                    .coin__share {
                        color: $dark-primary;
                    }
                }
                .coin:last-child {
                    border-bottom: none;
                    padding-bottom: none;
                }
            }
        }
    }
}
