// variables.scss

// Light Mode Colors
$light-bg: #F5F6FA;
$light-box-bg:#fff;
$light-primary: #14172C;
$light-secondary: #843EA1;
$light-tertiary:#85879e;
$light-buttons:#843EA1;
$light-percentageUP: #00DE3B;
$light-percentageDown: #E63F66;






// Dark Mode Colors
$dark-bg: #0C101C;
$dark-box-bg:#1A222F;
$dark-primary: #FFF;
$dark-secondary: #843EA1;
$dark-tertiary:#9A9CB8;
$dark-buttons:#843EA1;
$dark-percentageUP: #00DE3B;
$dark-percentageDown: #E63F66;



